<h2>Analysis-tool for DBA und software-developer</h2>

<h2>Motivation / targets</h2>
<h3>Gives support for:</h3>
<ul>
    <li>Performance-optimization of</li>
    <ul>
        <li>Software-systems regarding their DB-access</li>
        <li>DB-structures</li>
        <li>Instance-configuration</li>
    </ul>
    <li>Analysis of execution times and wait events</li>
    <li>Preparation of internal information of Oracle-DB</li>
</ul>

<h3>Focus is:</h3>
<ul>
    <li>Targeted preparation of masses of internal information of DB</li>
    <li>Support for analysis-workflow by connecting single steps</li>
    <li>Drill down beginning with specific problem areas</li>
</ul>
<h3>Differentiation to mainstream monitoring tools</h3>
<ul>
    <li>Panorama does not claim all facets of monitoring visualization of Oracle-DB's internal</li>
    <li>Functions are covered by Panorama if:</li>
    <ul>
        <li>mainstram tools do not or not enough support the issue</li>
        <li>Possible mainstream tools including these issues are not reachable for normal user (e.g. due to costs)</li>
    </ul>
    <li>Useful usage of Panorama is not instead of but in combination with e.g. Enterprise Manager, Quest Toad etc.</li>
</ul>


<h2>Handling hints</h2>

<h3>Generally</h3>
<ul>
  <li>Context-info ist provided system-wide by mouse-over hints</li>
  <li>Details for shown values are often available by clicking on hyperlinks</li>
  <li>Details are shown inline in table cells or continued at bottom of current page</li>
</ul>

<h3>Tables</h3>
<ul>
  <li>Sort table content by clicking column-header</li>
  <li>Sort by multiple columns may be done by subsequent sorting of single columns</li>
  <li>Search filter, optional diagram view and export to Excel are available via context menu (right mouse button)</li>
  <li>View complete cell content / copy cell content: double click on cell to open popup view</li>
</ul>

<h2>Internal structure</h2>
<ul>
    <li>Panorama is implemented with Ruby on Rails und can be run as:</li>
    <ul>
        <li>Standalone webserver in native Ruby (Webrick, Mongrel)</li>
        <li>Standalone-webserver in JRuby with DB-connection by JDBC-thin-driver</li>
        <li>integrated per JRuby in Java-application-server (Jetty, Glassfish, Tomcat)</li>
    </ul>
    <li>Recommended runtime environment is the embbedded Jetty application server</li>
    <li>Panorama will be delivered as  web archiv (*.war)</li>
</ul>

<h2>Functions / top-level menu entries</h2>

<%=
    @menu_entry_help.html_safe
%>