<h2>Analyse-Werkzeug für DBA und Software-Entwickler</h2>

<h2>Motivation / Ziele</h2>
<h3>bietet Unterstützung für:</h3>
<ul>
    <li>Performance-Optimierungen von</li>
    <ul>
        <li>Software-Systemen bzgl. ihrer DB-Zugriffe</li>
        <li>DB-Strukturen</li>
        <li>Instanzkonfiguration</li>
    </ul>
    <li>Analyse von Laufzeiten und Wartezuständen </li>
    <li>Aufbereitung der internen Informationen von Oracle-DB</li>
</ul>

<h3>Schwerpunkt ist:</h3>
<ul>
    <li>Die gezielte Aufbereitung der Massen von internen Informationen der DB</li>
    <li>Die Unterstützung des Analyse-Workflow durch Verknüpfung der einzelner Schritte</li>
    <li>DrillDown ausgehend von konkreten Problempunkten</li>
</ul>
<h3>Abgrenzung zu etablierten Monitoring-Tools</h3>
<ul>
    <li>Panorama hat nicht den Anspruch, alle Facetten des Monitoring und der Visualisierung von Interna der Oracle-DB abzudecken</li>
    <li>Funktionen fanden Aufnahme in Panorama, wenn sie:</li>
    <ul>
        <li>von den etablierten Tools nicht bzw. nur unzureichend angeboten werden</li>
        <li>Evtl. existierende Werkzeuge für Normalanwender nicht erreichbar sind (Kosten)</li>
    </ul>
    <li>Eine sinnvolle Anwendung erfolgt nicht anstatt, sondern in Kombination mit z.B. Enterprise Manager, Quest Toad etc.</li>
</ul>

<h2>Tips zur Bedienung</h2>

<h3>Generell</h3>
<ul>
  <li>Systemweit werden vielfach Kontext-Informationen über MouseOver-Hints angeboten</li>
  <li>Detaillierungen angezeigter Werte können über Klick auf Hyperlinks ausgelöst werden</li>
  <li>Detaillierungen werden entweder inline z.B. im Tabellenfeld angezeigt oder in separaten Listen am unteren Seitenrand fortgesetzt</li>
</ul>

<h3>Tabellen</h3>
<ul>
  <li>Sortieren der Tabellenanzeige durch Klick auf Spalten-Header</li>
  <li>Sortieren nach mehreren Spalten durch aufeinanderfolgende Sortierung nach einzelnen Spalten</li>
  <li>Such-Filter, optionale Diagramm-Darstellung sowie Excel-Export sind verfügbar über Kontext-Menü (rechter Mouse-Button)</li>
  <li>Anzeige des kompletten Feldinhaltes / Kopieren des Feldinhaltes: Doppel-Klick auf Feld zum Öffnen einer Popup-Anzeige</li>
</ul>

<h2>Interner Aufbau</h2>
<ul>
    <li>Panorama ist implementiert mit Ruby on Rails und lauffähig als</li>
    <ul>
        <li>Standalone-Webserver in native Ruby (Webrick, Mongrel)</li>
        <li>Standalone-Webserver in JRuby mit DB-Connection per JDBC-Thin-Driver</li>
        <li>integriert per JRuby in Java-Application-Server (Jetty, Glassfish, Tomcat)</li>
    </ul>
    <li>Empfohlene Produktionslaufzeitumgebung ist der eingebettete Jetty Application-Server</li>
    <li>Panorama wird bereitgestellt als WebArchiv (*.war)</li>
</ul>

<h2>Funktionen / Top-Level Menü-Einträge</h2>

<%=
    @menu_entry_help.html_safe
%>