<%= my_ajax_form_tag url_for(:controller=>:dba_pga, :action=>"list_pga_stat_historic", :update_area=>"list_pga_stat_historic_area") do %>
  <div class="float_left">
    <b>PGA-Historie aus DBA_Hist_PGAStat</b>
  </div>
  <%= include_start_end_timepicker %>
  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, (session[:instance] ? session[:instance] : 1), :size=>1, :title=>"Einschränkung auf RAC-Instance (optional)") %>
  </div>
  <div class="float_left">
    <%= submit_tag("SQL anzeigen", :title => "Anlistung der SQL-Statements") %>
  </div>
<% end %>
<div id="list_pga_stat_historic_area" style="float:left; width:100%;">

</div>
