<%
  @update_area = get_unique_area_id

    def link_session(rec)
      my_ajax_link_to(rec.sessionid,
          url_for(:controller   => :dba_schema,
                  :action       => :list_audit_trail,
                  :sessionid    => rec.sessionid,
                  :update_area  => @update_area
                 ),
         :title=> 'Show audit records of session')

    end

    def link_sql_text(rec)
      if rec.sql_text
        # Da der Inhalt nachträeglich erst per JSaufgerufen wird, müssen ' doppelt escaped werden
        "<a title=\"Show complete SQL-Statement (below)\" onclick=\"jQuery('##{@update_area}').html('<pre>#{j(my_html_escape rec.sql_text.gsub(/'/, "\\\\'") ) }</pre>');\">#{rec.sql_text[0,30]}</a>".html_safe
      end
    end

  column_options =
  [
    {:caption=> 'Time',              :data=>proc{|rec| localeDateTime(rec.timestamp)},           :title=> 'Timestamp of recorded action'},
    {:caption=> 'Machine',           :data=>proc{|rec| link_machine_ip_info(rec.userhost)},      :title=> 'Client machine'},
    {:caption=> 'OS-User',           :data=>proc{|rec| rec.os_username},                         :title=> 'Client OS user name'},
    {:caption=> 'DB-User',           :data=>proc{|rec| rec.username},                            :title=> 'DB user name used to connect'},
    {:caption=> 'Proc',              :data=>proc{|rec| rec.os_process},                          :title=>"OS process identifier of the database's Oracle process"},
    {:caption=> 'Terminal',           :data=>proc{|rec| rec.terminal},                           :title=> 'Terminal info'},
    {:caption=> 'Action',            :data=>proc{|rec| rec.action_name},                         :title=> 'Action name'},
    {:caption=> 'Object', :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.obj_name) }, :title=> 'Owner an name of affected object'},
    {:caption=> 'I',                 :data=>proc{|rec| rec.instance_number},                     :title=> 'Instance number as specified by the INSTANCE_NUMBER initialization parameter'},
    {:caption=> 'Session-ID',        :data=>proc{|rec| link_session(rec)},                       :title=> 'ID of database session (AUDSID)'},
    {:caption=> 'SQL-Text',          :data=>proc{|rec| link_sql_text(rec)},                      :title=> 'SQL-Text'},
    {:caption=> 'B',                 :data=>proc{|rec| rec.sql_bind},                            :title=> 'Bind variable data of the query'},
    {:caption=> 'N.O.',              :data=>proc{|rec| "#{rec.new_owner}.#{rec.new_name}" if rec.new_owner || rec.new_name},  :title=> 'Owner an name after rename'},
    {:caption=> 'O.P.',              :data=>proc{|rec| rec.obj_privilege},                       :title=> 'Object privileges granted or revoked by a GRANT or REVOKE statement'},
    {:caption=> 'S.P.',              :data=>proc{|rec| rec.sys_privilege},                       :title=> 'System privileges granted or revoked by a GRANT or REVOKE statement'},
    {:caption=> 'A',                 :data=>proc{|rec| rec.admin_option},                        :title=> 'Indicates whether the role or system privilege was granted with the ADMIN option'},
    {:caption=> 'G',                 :data=>proc{|rec| rec.grantee},                             :title=> 'Name of the grantee specified in a GRANT or REVOKE statement'},
    {:caption=> 'A',                 :data=>proc{|rec| rec.audit_option},                        :title=> 'Auditing option set with the AUDIT statement'},
    {:caption=> 'S',                 :data=>proc{|rec| rec.ses_actions},                         :title=> 'Session summary (a string of 16 characters, one for each action type in the order ALTER, AUDIT, COMMENT, DELETE, GRANT, INDEX, INSERT, LOCK, RENAME, SELECT, UPDATE, REFERENCES, and EXECUTE). Positions 14, 15, and 16 are reserved for future use. The characters are: - None, S - Success, F - Failure, B - Both'},
#    {:caption=> 'Logoff-Time',       :data=>proc{|rec| localeDateTime(rec.logoff_time)},         :title=> 'Date and time of user log off'},  # Auskommentiert, da bei logoff identisch mit Timestamp
    {:caption=> 'LR',                :data=>proc{|rec| fn rec.logoff_lread},                     :title=> 'Logical reads for the session', :align=>:right},
    {:caption=> 'PR',                :data=>proc{|rec| fn rec.logoff_pread},                     :title=> 'Physical reads for the session', :align=>:right},
    {:caption=> 'LW',                :data=>proc{|rec| fn rec.logoff_lwrite},                    :title=> 'Logical writes for the session', :align=>:right},
    {:caption=> 'DL',                :data=>proc{|rec| fn rec.logoff_dlock if rec.logoff_dlock != '0'
    }, :title=> 'Deadlocks detected during the session', :align=>:right},
    {:caption=> 'C',                 :data=>proc{|rec| fn rec.session_cpu},                      :title=> 'Amount of CPU time used by each Oracle session', :align=>:right},
    {:caption=> 'Comment',           :data=>proc{|rec| rec.comment_text},                        :title=> 'Text comment on the audit trail entry, providing more information about the statement audited'},
    {:caption=> 'R',                 :data=>proc{|rec| rec.returncode},                          :title=> 'Oracle error code generated by the action. Some useful values: 0 - Action succeeded, 2004 - Security violation'},
    {:caption=> 'Priv.',             :data=>proc{|rec| rec.priv_used},                           :title=> 'System privilege used to execute the action'},
    {:caption=> 'Client-ID',         :data=>proc{|rec| rec.client_id},                           :title=> 'Client identifier in each Oracle session'},

  ]
%>

<%=
    caption = "Audit-Records from #{@audit_source}"
    caption << ", from #{@time_selection_start} until #{@time_selection_end}" if @time_selection_start && @time_selection_end
    caption << ", Session-ID=#{@sessionid}"      if defined?(@sessionid)    && !@sessionid.nil?
    caption << ", OS-User LIKE '#{@os_user}'"    if defined?(@os_user)      && !@os_user.nil?
    caption << ", DB-User LIKE '#{@os_user}'"    if defined?(@db_user)      && !@db_user.nil?
    caption << ", Machine LIKE '#{@machine}'"    if defined?(@machine)      && !@machine.nil?
    caption << ", Object LIKE '#{@object_name}'" if defined?(@object_name)  && !@object_name.nil?
    caption << ", Action LIKE '#{@action_name}'" if defined?(@action_name)  && !@action_name.nil?

    gen_slickgrid(@audits, column_options, {
        :caption => caption,
        :max_height => 450
})
%>
<div id="<%= @update_area %>"></div>