<%= build_menu_html %>

<span style="padding: 5px; cursor:pointer;" title="<%= t(:env_build_main_menu_repeat_hint, :default=>'Repeat last called menu action')%>">
    <img src="assets/refresh-icon.png" onclick="jQuery.ajax({url: 'Env/repeat_last_menu_action'});">
</span>
