<div><%= t(:env_licensing_panorama_statement, :default=>'Panorama can be used free of charge under the terms and conditions of') %> <a href="http://www.gnu.org/licenses/gpl-3.0" target="_blank">GNU General Public License</a>.</div>

<% if @show_management_pack_choice %>
  <%=
    render_async(:env, :list_management_pack_license)
  %>
<% end %>