<% if @panorama_sampler_data.count > 0 %>
  <%
    link_select = proc do |rec|
      ajax_link(rec.owner, {
          :controller   => :env,
          :action       => :set_panorama_sampler_schema,
          :schema       => rec.owner,
          :update_area  => @update_area # render in same DIV like before
      },
                {:title => "Select this schema for access on Panorama-Sampler workload data"}
      )
    end

    selected = proc do |rec|
      'x ' if rec.owner ==  get_current_database[:panorama_sampler_schema]
    end

    awr_ash_data_title = proc do |rec|
      "%t\nDBID of last recorded snapshot in this schema = #{rec[:dbid]}\nNumber of RAC-instances for the last recorded DBID = #{rec[:instances]}"
    end

    column_options =
        [
            {:caption=> 'S',                                :data=>selected,                                                        :title=> 'The selected schema is used for Panorama-Sampler workload data'},
            {:caption=> 'Schema',                           :data=>link_select,                                                     :title=> 'Schema of your database containing Panorama-Sampler workload data'},
            {:caption=> 'Last DBID',                        :data=>proc{|rec| fn(rec[:last_dbid])},                                 :title=> "DBID of last snapshot recorded by Panorama-Sampler for this schema",  :align=>:right,  data_title: proc{|rec| "%t\nNumber of different DBIDs recorded for this schema = #{rec[:dbid_cnt]}"}},
            {:caption=> 'First AWR/ASH snapshot',           :data=>proc{|rec| localeDateTime(rec[:min_time])},                      :title=> 'Start of first snapshot recorded in this Panorama-Sampler schema for this DBID',      data_title: awr_ash_data_title},
            {:caption=> 'Last AWR/ASH snapshot',            :data=>proc{|rec| localeDateTime(rec[:max_time])},                      :title=> 'End of last snapshot recorded in this Panorama-Sampler schema for this DBID',         data_title: awr_ash_data_title},
            {:caption=> 'AWR/ASH snapshot interval',        :data=>proc{|rec| fn(rec[:snap_interval])},                             :title=> "Snapshot interval in minutes of Panorama-Sampler",                   :align=>:right,  data_title: awr_ash_data_title},
            {:caption=> 'AWR/ASH snapshot retention',       :data=>proc{|rec| fn(rec[:snap_retention])},                            :title=> "Snapshot retention time for snapshots of Panorama-Sampler in days",  :align=>:right,  data_title: awr_ash_data_title},
            {:caption=> 'First object size snapshot',       :data=>proc{|rec| localeDateTime(rec[:object_sizes_min_gather_date])},  :title=> 'First gather date of object size info' },
            {:caption=> 'Last object size snapshot',        :data=>proc{|rec| localeDateTime(rec[:object_sizes_max_gather_date])},  :title=> 'Last gather date of object size info' },
            {:caption=> 'First DB-cache objects snapshot',  :data=>proc{|rec| localeDateTime(rec[:cache_objects_min_snapshot])},    :title=> 'First snapshot date of DB-cache objects info' },
            {:caption=> 'Last DB-cache objects snapshot',   :data=>proc{|rec| localeDateTime(rec[:cache_objects_max_snapshot])},    :title=> 'Last snapshot date of DB-cache objects info' },
            {:caption=> 'First recorded blocking locks',    :data=>proc{|rec| localeDateTime(rec[:blocking_locks_min_snapshot])},   :title=> "First recorded blocking locks info.\nFirst time where blocking locks occurred and have been recorded" },
            {:caption=> 'Last recorded blocking locks',     :data=>proc{|rec| localeDateTime(rec[:blocking_locks_max_snapshot])},   :title=> "Last recorded blocking locks info.\nLast time where blocking locks occurred and have been recorded" },
            {:caption=> 'First recorded long-term trend',   :data=>proc{|rec| localeDateTime(rec[:longterm_trend_min_snapshot])},   :title=> "First recorded snapshot for log-term trend info" },
            {:caption=> 'Last recorded long-term trend',    :data=>proc{|rec| localeDateTime(rec[:longterm_trend_max_snapshot])},   :title=> "Last recorded snapshot for log-term trend info" },
        ]

  %>

  <%=
    if @panorama_sampler_data.count > 1
      caption = '<span style="color: red">Multiple schemas of this DB contains Panorama-Sampler workload data! Please select your preferred schema</span>'.html_safe
    else
      caption = 'Panorama-Sampler workload data found on this database  '
    end

    gen_slickgrid(@panorama_sampler_data, column_options, {
        :caption    => caption,
        :width      => :auto,
        :max_height => 200
    })
  %>
<% end %>
