<h1>Panorama</h1>
<h3>Analysis-tool for Oracle databases focused on DBAs and software developer</h3>
<B>
  Offers support for:
  <ul>
    <li>Performance-optimization of applications</li>
    <li>Analysis of runtimes and wait events</li>
    <li>Preparation of Oracle database's internal information</li>

  </ul>
</B>
<BR><BR>

<span style="color:red;">Parts of this application require licensing of "Diagnostic Pack" for Oracle-DB !</span><BR><BR>

Oracle-User used for login with Panorama requires the right "SELECT ANY DICTIONARY".<BR><BR>

Bug-reports, hints and enhancement wishes please send per mail to:<BR> <a href="mailto:Peter@ramm-oberhermsdorf.de">Peter@ramm-oberhermsdorf.de</a><BR><BR>
<%= "#{Panorama::RELEASE_DATE.year}/#{Panorama::RELEASE_DATE.month}/#{Panorama::RELEASE_DATE.day}" %> Version <%= Panorama::VERSION %><BR>
Peter Ramm<BR>
