<h1>Panorama</h1>
<h3>Analysis-tool for Oracle databases focused on DBAs and software developer</h3>
<B>
  Offers support for:
  <ul>
    <li>Performance-optimization of applications</li>
    <li>Analysis of runtimes and wait events</li>
    <li>Preparation of Oracle database's internal information</li>
    <li>Tested for Oracle-versions 11.2 until 21c</li>
  </ul>
</B>
<BR>
<h3><%= t :env_licensing_header, :default=>"Licensing" %></h3>
<% @show_management_pack_choice = false %>
<%= render :partial => 'licensing' %>
<br/>
<span style="color:red;">
  Parts of this application require either licensing of Oracle's 'Diagnostic Pack' and 'Tuning Pack' or 'Panorama-Sampler' to work properly!<br/>
  You can can choose after login if management packs are licensed for your database.
</span><BR><BR>

The DB user used for login with Panorama requires at least the right "SELECT ANY DICTIONARY".
<BR><BR>
For more info please have a look at <a href="https://rammpeter.github.io/panorama.html">https://rammpeter.github.io/panorama.html</a>.
<BR><BR>
For bug-reports, hints and enhancement wishes please file an issue at:<BR>
<a href="https://github.com/rammpeter/Panorama_Gem/issues">https://github.com/rammpeter/Panorama_Gem/issues</a>
<BR><BR>
<%= "#{PanoramaGem::RELEASE_YEAR}/#{PanoramaGem::RELEASE_MONTH}/#{PanoramaGem::RELEASE_DAY}" %> Version <%= PanoramaGem::VERSION %><BR>
Peter Ramm<BR>

