<h1>Panorama für Oracle</h1>
<h3>Analyse-Werkzeug für DBA und Software-Entwickler</h3>
<B>
  Bietet Unterstützung für:
  <ul>
    <li>Performance-Optimierung von Applikationen</li>
    <li>Analyse von Laufzeiten und Wartezust&auml;nden</li>
    <li>Aufbereitung der internen Informationen von Oracle-DB</li>

  </ul>
</B>
<BR><BR>

Das Tool ist angepasst für die Browser: Mozilla Firefox, Google Chrome und Apple Safari<BR>
Microsoft Internet Explorer wird nur rudimentär untertützt<BR><BR>

<span style="color:red;">Teile der Anwendung erfordern Lizensierung des "Diagnostic Pack" der Oracle-DB !</span><BR><BR>

Der zur Anmeldung genutzte Oracle-User benötigt das Recht "SELECT ANY DICTIONARY".<BR><BR>

Bug-Reports, Hinweise und Anforderungen bitte per Mail an:<BR> <a href="mailto:Peter.Ramm@ottogroup.com">Peter.Ramm@ottogroup.com</a><BR><BR>
18.08.2014  Version 1.18<BR>
Peter Ramm, Otto Group Solution Provider (OSP) Dresden GmbH<BR>
Tel.: 0351-49723-150<BR><BR>
<BR>
<BR>
