<%
   @update_area = get_unique_area_id


   def link_column(rec, value)
     my_ajax_link_to(value,
                   url_for(:action      => :show_session_waits,
                           :instance    => rec[:instance],
                           :event       => rec[:event],
                           :update_area => @update_area
                   ),
                   :title => 'Show sessions currently waiting in this event'
     )
   end


column_options =
  [
    {:caption=>"I",             :data=>proc{|rec| rec[:instance] },                           :title=>"RAC-Instance"},
    {:caption=>"Event",         :data=>proc{|rec| link_column(rec, rec[:event]) },            :title=>"Event-Name",  :data_title=>proc{|rec| explain_wait_event(rec[:event])} },
    {:caption=>"Total",         :data=>proc{|rec| fn(rec[:total_waits]) },    :align=>:right, :title=>"Total no. of wait-events"},
    {:caption=>"Timeouts",      :data=>proc{|rec| fn(rec[:total_timeouts]) }, :align=>:right, :title=>"Total no. of timeouts"},
    {:caption=>"Time waited",   :data=>proc{|rec| fn(rec[:time_waited],2) },    :align=>:right, :title=>"Total amount of time waited (seconds)"},
    {:caption=>"Average wait",  :data=>proc{|rec| fn(rec[:average_wait],2) },   :align=>:right, :title=>"Average wait time (milliseconds)"},
    {:caption=>"Wait class",    :data=>proc{|rec| rec[:wait_class] },                         :title=>'Wait class of event'},
    {:caption=>"Sessions",      :data=>proc{|rec| fn(rec[:anzahl_sessions]) },:align=>:right, :title=>'Number of sessions in this event at the end of sample period'},
  ]

%>

<%= gen_slickgrid(@data, column_options, {:caption => "Current system events", :width=>:auto, :max_height=>450}) %>

<div id="<%= @update_area %>">
</div>

