<table border="1" width="100%">
<tr>
  <th>ErrorClass</th>
  <th>ErrorStatus</th>
  <th>ErrorSeverity</th>
  <th>Anzahl</th>
</tr>
<% @errorrecords.each do |errorrecord| %>
  <tr>
    <td><%= errorrecord.errorclass.name %></td>
    <td><%= errorrecord.errorstatus.name %></td>
    <td><%= errorrecord.errorseverity.name %></td>
    <td><%= errorrecord.anzahl %></td>
  </tr>
<% end %>   
</table>
