<%

@update_area = get_unique_area_id

def link_column_sql_id(instance, sql_id, child_number, parsing_schema_name)
  link_historic_sql_id(instance, sql_id, @groupfilter[:Min_Zeitstempel], @groupfilter[:Max_Zeitstempel], @update_area, parsing_schema_name)
end


def link_column_blocking_reason_cascade(rec, value)
    my_ajax_link_to(value,
        url_for({:action       => "list_blocking_reason_cascade",
                 :update_area  => @update_area,
                 :snapshotts   => localeDateTime(rec.snapshotts),
                 :instance     => rec.instance_number,
                 :sid          => rec.sid,
                 :serialno     => rec.serialno
                }
               ),
         :title => "Anzeige der kompletten Kaskade der auslösenden Blocker für diese Session")
end

column_options =
  [
    {:caption=>"Sample",                :data=>proc{|rec| localeDateTime(rec.snapshotts)},   :title=>"Zeitpunkt des Samples"},
    {:caption=>"W. I",                  :data=>proc{|rec| rec.instance_number},              :title=>"RAC-Instance der wartenden Session"},
    {:caption=>"W. SID",                :data=>proc{|rec| link_column_blocking_reason_cascade(rec, rec.sid)}, :title=>"Session-ID der wartenden Session", :data_title=>'Session-ID der wartenden Session, SerialNo=#{rec.serialno}'},
    {:caption=>"Wait Sec",              :data=>proc{|rec| formattedNumber(rec.seconds_in_wait)}, :title=>"Sekunden im Wait der wartenden Session", :align=>"right"},
    {:caption=>"W. SQL-ID Prev.SQL-ID", :data=>proc{|rec| "#{link_column_sql_id(rec.instance_number, rec.sql_id, rec.sql_child_number, rec.username)} #{link_column_sql_id(rec.instance_number, rec.prev_sql_id, rec.prev_child_number, rec.username)}"}, :title=>"SQL-ID des aktuellen und vorherigen Statements der wartenden Session"},
    {:caption=>"W. Status",             :data=>proc{|rec| rec.status},                       :title=>"Status der wartenden Session"},
    {:caption=>"W. Client-Info / Module / Action", :data=>proc{|rec| "#{rec.client_info} #{rec.module} #{rec.action}"}, :title=>"Client-Info, Module und Action der wartenden Session", :data_title=>'Client-Info, Module und Action der wartenden Session, #{rec.waiting_app_desc}'},
    {:caption=>"W. User",               :data=>proc{|rec| rec.username},                     :title=>"User der wartenden Session", :data_title=>'User der wartenden Session, Machine=#{rec.machine}, OSUser=#{rec.osuser}, Process=#{rec.process}'},
    {:caption=>"W. Program",            :data=>proc{|rec| rec.program},                      :title=>"Programm der wartenden Session", :data_title=>'Programm der wartenden Session, Machine=#{rec.machine}, OSUser=#{rec.osuser}, Process=#{rec.process}'},
    {:caption=>"W. Objectname",         :data=>proc{|rec| rec.objectname},                   :title=>"Name des Objektes, auf das gewartet wird"},
    {:caption=>"LT",                    :data=>proc{|rec| rec.locktype},                     :title=>"Locktype der wartenden Session", :data_title=>'#{lock_types(rec.locktype)}'},
    {:caption=>"ID1, ID2",              :data=>proc{|rec| "#{rec.id1}, #{rec.id2}"},         :title=>"ID1, ID2 des Objektes auf das gewartet wird"},
    {:caption=>"R",                     :data=>proc{|rec| rec.request},                      :title=>"angeforderter Lock-Mode", :data_title=>'#{lock_modes(rec.request.to_s)}'},
    {:caption=>"L",                     :data=>proc{|rec| rec.lockmode},                     :title=>"gehaltener Lock-Mode", :data_title=>'#{lock_modes(rec.lockmode.to_s)}'},
    {:caption=>"Blocking Object",       :data=>proc{|rec| "#{rec.blocking_object_schema}.#{rec.blocking_object_name}"},  :title=>"Schema und Name des blockenden Objektes"},
    {:caption=>"RowID / Primary Key",   :data=>proc{|rec| "#{rec.blocking_rowid} #{rec.waitingforpkeycolumnname} = #{rec.waitingforpkeyvalue}"}, :title=>"RowID sowie Spalten und Inhalt des Primary Key des blockenden Objektes"},
    {:caption=>"B. I",                  :data=>proc{|rec| rec.blocking_instance_number},     :title=>"RAC-Instance der blockenden Session"},
    {:caption=>"B. SID",                :data=>proc{|rec| rec.blocking_sid},                 :title=>"Session-ID der blockenden Session", :data_title=>'Session-ID der blockenden Session, SerialNo=#{rec.blocking_serialno}'},
    {:caption=>"B. SQL-ID Prev.SQL-ID", :data=>proc{|rec| "#{link_column_sql_id(rec.blocking_instance_number, rec.blocking_sql_id, rec.blocking_sql_child_number, rec.blocking_username)} #{link_column_sql_id(rec.blocking_instance_number, rec.blocking_prev_sql_id, rec.blocking_prev_child_number, rec.blocking_username)}"}, :title=>"Als letztes und vorletztes ausgeführtes SQL der blockenden Session"},
    {:caption=>"B. Status",             :data=>proc{|rec| rec.blocking_status},              :title=>"Status der blockenden Session"},
    {:caption=>"B. Client-Info / Module / Action",:data=>proc{|rec| "#{rec.blocking_client_info} #{rec.blocking_module} #{rec.blocking_action}"}, :title=>"Client-Info, Module und Action der blockenden Session", :data_title=>'Client-Info, Module und Action der blockenden Session, #{rec.blocking_app_desc}'},
    {:caption=>"B. User",               :data=>proc{|rec| rec.blocking_username},            :title=>"User der blockenden Session", :data_title=>'User der blockenden Session, Machine=#{rec.blocking_machine}, OSUser=#{rec.blocking_osuser}, Process=#{rec.blocking_process}'},
    {:caption=>"B. Program",            :data=>proc{|rec| rec.blocking_program},             :title=>"Programm der blockenden Session", :data_title=>'Programm der blockenden Session, Machine=#{rec.blocking_machine}, OSUser=#{rec.blocking_osuser}, Process=#{rec.blocking_process}'},
  ]

    caption = "Einzel-Snapshots für "
    @groupfilter.each {|key,value|
        caption << "#{key} = '#{value}' </div>"
    }
%>

<%= gen_slickgrid(@locks, column_options, {:caption=>caption, :max_height=>450}) %>


<div id="<%= @update_area %>" style="float:left; width:100%;">
</div>
