<%

  def link_column(rec, value)
    my_ajax_link_to(value,
         url_for(:action     => "list_db_cache_historic_snap",
                 :instance   => @instance,
                 :snapshotts => localeDateTime(rec.snapshotts),
                 :show_partitions => @show_partitions,
                 :update_area=> "list_db_cache_historic_snap_area"
               ),
        :title=>"Anzeige der Cache-Nutzung zum Zeitpunkt (unterhalb)")
  end

column_options =
 [
   {:caption=>"Zeit",   :data=>proc{|rec| link_column(rec, localeDateTime(rec.snapshotts)) }, :title=>"Zeitstempel des Schnappschuss",                        :plot_master_time=>true},
   {:caption=>"Blocks", :data=>proc{|rec| link_column(rec, fn(rec.blockstotal)) },            :title=>"Anzahl DB-Blöcke im Cache belegt durch Objekt",        :align=>"right"},
   {:caption=>"Dirty",  :data=>proc{|rec| link_column(rec, fn(rec.blocksdirty)) },            :title=>"Anzahl dirty DB-Blöcke im Cache belegt durch Objekt",  :align=>"right"},
 ]
%>

<%= gen_slickgrid(@entries, column_options, {
        :max_height=>200,
        :caption => "DB-Cache-Nutzung #{@owner}.#{@name} #{"(#{@partitionname})" if @partitionname} zwischen #{@time_selection_start} und #{@time_selection_end} Instance=#{@instance}"
}) %>

<div id="list_db_cache_historic_snap_area" style="float:left; width:100%;">
</div>

