<%
def link_column_sql(rec, value)
    my_ajax_link_to(value,
    url_for(:controller => "dba_history",
            :action     => "show_using_sqls_historic",
            :time_selection_start  => @snapshotts[0,16],   # Sekunden des Zeitstempels abschneiden
            :time_selection_end    => @snapshotts[0,16],   # Sekunden des Zeitstempels abschneiden
            :ObjectOwner=> rec.owner,
            :ObjectName => rec.name,
            :update_area=> "list_db_cache_historic_snap_detail_area"
          ),
   :title=>"Anzeige der SQL-Statements mit Nutzung dieses Objektes im Zeitraum (unterhalb)")
end

def show_name(rec)
  "#{rec.owner.downcase}.#{rec.name}#{" (#{rec.partitionname})" if @show_partitions == '1' && rec.partitionname}"
end

column_options =
 [
   {:caption=>"Name",   :data=>proc{|rec| link_column_sql(rec, show_name(rec)) }, :title=>"Objekt-Name"},
   {:caption=>"Blocks", :data=>proc{|rec| formattedNumber(rec.blockstotal)},      :title=>"Anzahl DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
   {:caption=>"Dirty",  :data=>proc{|rec| formattedNumber(rec.blocksdirty)},       :title=>"Anzahl dirty DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
 ]
%>

<%= gen_slickgrid(@entries, column_options,  {
        :max_height => 450,
        :caption    => "DB-Cache-Nutzung am #{@snapshotts} Instance=#{@instance}"
}) %>

<div id="list_db_cache_historic_snap_detail_area"></div>