  <%
  def link_column(rec, value)
      my_ajax_link_to(value,
      url_for(:action     => "list_db_cache_historic_detail",
              :instance   => rec.instance,
              :owner      => rec.owner,
              :name       => rec.name,
              :show_partitions => @show_partitions,
              :partitionname => rec.partitionname,
              :time_selection_start  => @time_selection_start,
              :time_selection_end    => @time_selection_end,
              :update_area=> "list_db_cache_historic_detail_area"
            ),
     :title=>"Anzeige der Einzel-Samples des Objektes (unterhalb)")
  end

  def link_column_sql(rec, value)
      my_ajax_link_to(value,
      url_for(:controller => "dba_history",
              :action     => "show_using_sqls_historic",
              :time_selection_start  => @time_selection_start,
              :time_selection_end    => @time_selection_end,
              :instance              => rec.instance,
              :ObjectOwner=> rec.owner,
              :ObjectName => rec.name,
              :update_area=> "list_db_cache_historic_detail_area"
            ),
     :title=>"Anzeige der SQL-Statements mit Nutzung dieses Objektes im Zeitraum (unterhalb)")
  end

  def show_name(rec)
    "#{rec.owner.downcase}.#{rec.name}#{" (#{rec.partitionname})" if @show_partitions == '1' && rec.partitionname}"
  end

  column_options =
  [
    {:caption=>"I",                :data=>"rec.instance",                             :title=>"Instance-ID"},
    {:caption=>"Name",             :data=>"link_column_sql(rec, show_name(rec))",     :title=>"Objekt-Name"},
    {:caption=>"Index/Wichtung",   :data=>"formattedNumber(rec.sumblockstotal)",      :title=>"Nutzungs-Index (Summe der Blöcke aller Schnappschüsse des Objektes)", :align=>"right"},
    {:caption=>"Avg.Blocks",       :data=>"formattedNumber(rec.avgblockstotal)",      :title=>"Durchschn. Anzahl DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Min.Blocks",       :data=>"formattedNumber(rec.minblockstotal)",      :title=>"Minimale Anzahl DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Max.Blocks",       :data=>"formattedNumber(rec.maxblockstotal)",      :title=>"Maximale Anzahl DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Avg.Dirty",        :data=>"formattedNumber(rec.avgblocksdirty)",      :title=>"Durchschn. Anzahl dirty DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Min.Dirty",        :data=>"formattedNumber(rec.minblocksdirty)",      :title=>"Minimale Anzahl dirty DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Max.Dirty",        :data=>"formattedNumber(rec.maxblocksdirty)",      :title=>"Maximale Anzahl dirty DB-Blöcke im Cache belegt durch Objekt", :align=>"right"},
    {:caption=>"Samples",          :data=>"link_column(rec, formattedNumber(rec.samples))", :title=>"Anzahl einzelner Samples zum Objekt im Zeitraum", :align=>"right"},
  ]
%>

<!-- <div style="float:left; width:100%; max-height:450px; overflow:scroll; "> -->
  <%= gen_slickgrid(@entries, column_options,
                     {
                             :max_height => 450,
                             :caption=> "DB-Cache-Nutzung zwischen #{@time_selection_start} und #{@time_selection_end} #{"Instance=#{@instance}" if @instance }",
                             :context_menu_entries=>{:label=>"Top 10 auf Zeitleiste anzeigen",
                                                     :action=>"$('#list_db_cache_historic_hidden_link_timeline').click();" }
                     }
      ) %>
<!-- </div> -->



<%= my_ajax_link_to("Hidden Auslöser für Timeline",
                    url_for({:action        => "list_db_cache_historic_timeline",
                             :instance      => @instance,
                             :time_selection_start  => @time_selection_start,
                             :time_selection_end    => @time_selection_end,
                             :show_partitions => @show_partitions,
                             :update_area   => "list_db_cache_historic_detail_area_timeline"
                            }
                    ),
                    :style=>"display:none",
                    :id=>"list_db_cache_historic_hidden_link_timeline"
    )
%>
<div id="list_db_cache_historic_detail_area_timeline" style="float:left; width:100%;">
</div>
<div id="list_db_cache_historic_detail_area" style="float:left; width:100%;">
</div>

