<%
   @update_area = "usage_info_detail_area_#{@filter.hash.abs}"

   def link_column(rec, value, groupkey)
       my_ajax_link_to(value,
         url_for(:action      => "detail_sum",
                 :groupkey    => groupkey,
                 :filter      => @filter.merge({"#{@groupkey}" =>  rec.Groupkey}),
                 :update_area => @update_area
               ),
        :title=>"Aufgliederung der Daten nach #{groupkey}")
   end

   def link_column_database(rec)
       link_column(rec, formattedNumber(rec.Databases), "Database")
   end

   def link_column_client(rec)
       link_column(rec, formattedNumber(rec.Clients), "IP_Address")
   end

   def link_column_controller(rec)
       link_column(rec, formattedNumber(rec.Controllers), "Controller")
   end

   def link_column_action(rec)
       link_column(rec, formattedNumber(rec.Actions), "Action")
   end

   def link_column_single_record(rec, value)
       my_ajax_link_to(value,
         url_for(:action      => "single_record",
                 :filter      => @filter.merge({"#{@groupkey}" =>  rec.Groupkey}),
                 :update_area => @update_area
               ),
        :title=>"Anzeige der einzelnen Records")
   end

   def show_groupkey(rec)
     if @groupkey == "IP_Address"
       my_ajax_link_to(rec.Groupkey,
         url_for(:action      => "ip_info",
                 :ip_address  => rec.Groupkey,
                 :update_area => @update_area
               ),
        :title=>"Details zu IP-Adresse")
     else
       rec.Groupkey
     end
   end

column_options =
[
  {:caption=>@groupkey,          :data=>proc{|rec| show_groupkey(rec) },                             :title=>"Gruppierung"},
  {:caption=>"Requests",         :data=>proc{|rec| link_column_single_record(rec, formattedNumber(rec.Requests)) },            :title=>"Anzahl der Requests im Zeitraum", :align=>"right"},
]
column_options << {:caption=>"Databases",   :data=>"link_column_database(rec)",   :title=>"Anzahl DB, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"}         unless @filter[:Database]   || @groupkey=="Database"
column_options << {:caption=>"Clients",     :data=>"link_column_client(rec)",     :title=>"Anzahl Clients, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"}    unless @filter[:IP_Address] || @groupkey=="IP_Address"
column_options << {:caption=>"Controllers", :data=>"link_column_controller(rec)", :title=>"Anzahl Controller, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"} unless @filter[:Controller] || @groupkey=="Controller"
column_options << {:caption=>"Actions",     :data=>"link_column_action(rec)",     :title=>"Anzahl Actions, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"}    unless @filter[:Action]     || @groupkey=="Action"

   caption = "Aufgliederung nach #{@groupkey}, Filter: "
    @filter.each do |key, value|
        caption << "#{key}=#{value}, "
    end
%>

  <%= gen_slickgrid(@usage, column_options, {:caption=>caption, :max_height=>450, :width=>"auto"}) %>

<div id="<%= @update_area %>" style="float:left; width:100%; ">
</div>

