<%
  @update_area = get_unique_area_id
   def link_column_detail(rec, value)
     my_ajax_link_to(value,
      url_for(:action               => :list_object_increase_object_timeline,
              :owner                => rec.owner,
              :name                 => rec.segment_name,
              :time_selection_start => @time_selection_start,
              :time_selection_end   => @time_selection_end,
              :update_area          => @update_area
            ),
     :title=>"Anzeige der zeitlichen Entwicklung des Objektes (unterhalb)")

   end

column_options =
  [
    {:caption=>"Owner",           :data=>proc{|rec| rec.owner},                      :title=>"Object-owner"},
    {:caption=>"Name", :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.segment_name, rec.segment_name)}, :title=>"Segment-name"},
    {:caption=>"Type",            :data=>proc{|rec| rec.segment_type},               :title=>"Segment-type"},
    {:caption=>"Tablespace",      :data=>proc{|rec| rec.last_ts},                    :title=>"Tablespace des Objektes am Ende der Betrachtung"},
    {:caption=>"Start",           :data=>proc{|rec| localeDateTime(rec.date_start)}, :title=>"Erste Aufzeichnung der Größe"},
    {:caption=>"Ende",            :data=>proc{|rec| localeDateTime(rec.date_end)},   :title=>"Letzte Aufzeichnung der Größe"},
    {:caption=>'Samples',         :data=>proc{|rec| link_column_detail(rec, fn(rec.samples))},  :title=>"Anzahl der Sample-Records in Tabelle #{@object_name}"},
    {:caption=>"MB Start",        :data=>proc{|rec| formattedNumber(rec.start_mbytes)}, :title=>"Größe des Objektes in MB zum Start der Betrachtung",              :align=>:right},
    {:caption=>"MB End",          :data=>proc{|rec| formattedNumber(rec.end_mbytes)}, :title=>"Größe des Objektes in MB zum Ende der Betrachtung",                 :align=>:right},
    {:caption=>"MB Änderung",     :data=>proc{|rec| formattedNumber(rec.aenderung_abs)}, :title=>"Änderung der Größe des Objektes in MB während der Betrachtung",  :align=>:right},
    {:caption=>"% Änderung",      :data=>proc{|rec| formattedNumber(rec.aenderung_pct,2)}, :title=>"Änderung der Größe des Objektes in % während der Betrachtung", :align=>:right},
    {:caption=>"Anstieg je Tag in MB", :data=>proc{|rec| formattedNumber(rec.anstieg,2)},    :title=>'Anstieg je Tag in MB lt. linearer Regression "REGR_SLOPE(MBytes, Gather_Date-TO_DATE(\'1900\', \'YYYY\'))"' , :align=>:right},
  ]
%>

<%= gen_slickgrid(@incs, column_options, {:caption=>"Objekt-Wachstum aus #{@object_name}#{", Tablespace='#{@tablespace_name}'" if @tablespace_name}#{", Schema='#{@schema_name}'" if @schema_name}", :max_height => 450 }) %>
<div id="<%= @update_area%>"></div>
