
<%= render :partial => 'list_groupfilter' %>

<%
  @update_area = get_unique_area_id

  column_options = [
      {caption: 'Snapshot timestamp',           data: proc{|rec| localeDateTime(rec.snapshot_timestamp) },        title: "Start timestamp of considered snapshot period" },
      {caption: 'Snapshot duration (hours)',    data: proc{|rec| fn(rec.snapshot_cycle_hours) },                  align: :right, title: "Duration of considered snapshot period in hours" },
      {caption: 'Total time waited (minutes)',  data: proc{|rec| fn(rec.seconds_active.to_f/60, 1)},              align: :right, title: "Total time waited in minutes within period", data_title: proc{|rec| "%t\n#{seconds_explain(rec.seconds_active)}"} },
      {caption: 'Instance',                     data: proc{|rec| rec.instance_number },                           align: :right, title: "Instance number" },
      {caption: 'Wait event',                   data: proc{|rec| rec.wait_event },                                title: "Wait event of sessions within this sampled active time" },
      {caption: 'Wait class',                   data: proc{|rec| rec.wait_class },                                title: "Wait class of sessions within this sampled active time" },
      {caption: 'User name',                    data: proc{|rec| rec.user_name },                                 title: "Database user name of sessions within this sampled active time" },
      {caption: 'TNS service',                  data: proc{|rec| rec.service_name },                              title: "TNS service name of sessions within this sampled active time" },
      {caption: 'Machine',                      data: proc{|rec| rec.machine },                                   title: "Client machine name of sessions within this sampled active time" },
      {caption: 'Module',                       data: proc{|rec| rec.module },                                    title: "Module name of sessions within this sampled active time" },
      {caption: 'Action',                       data: proc{|rec| rec.action },                                    title: "Action name of sessions within this sampled active time" },
  ]

%>

<%= gen_slickgrid(@singles, column_options, {
    :caption        => @caption,
    :max_height     => 450,
    show_pin_icon:  1
}) %>

<div id="<%= @update_area %>"></div>

