<% # Parameter für nachfolgendes Partial list_groupfilter
   @header = "Sample-Records. Filter: "
   @repeat_action = :list_iostat_detail_history_samples
   @key_rule_proc = proc{|key| iostat_detail_key_rule(key)}
%>

<%= render :partial => 'list_groupfilter' %>

<%
   column_options =
           [
                   {:caption=>"Sample-Time",           :data=>proc{|rec| localeDateTime(rec.begin_interval_time)},  :title=>"Start of sample interval, rounded on minute", :plot_master_time=>true},
           ]
   column_options.concat iostat_detail_values_column_options         # Feldliste der numerischen Werte zur Mehrfachverwendung in diversen Views

%>

<%= gen_slickgrid(@samples, column_options, {
        :caption => @caption,
        :plot_area_id => "list_iostat_detail_samples_detail_area",
        :max_height => 450
}) %>

<div id="list_iostat_detail_samples_detail_area"></div>

<script type="text/javascript">
    $("#<%= @time_selection_start_id %>").datetimepicker();
    $("#<%= @time_selection_end_id   %>").datetimepicker();
</script>
