<%
   @update_area = get_unique_area_id


column_options =
  [
    {:caption=>"SQL-ID",        :data=>proc{|rec| link_sql_id(@update_area, @instance, rec.sql_id, rec.child_number) },           :title=>"SQL-ID des Statements"},
    {:caption=>"Child no.",     :data=>proc{|rec| rec.child_number },               :title=>"Child-Number des Statements"},
    {:caption=>"Op-Type",       :data=>proc{|rec| rec.operation_type },             :title=>"Operation-Type"},
    {:caption=>"Op-ID",         :data=>proc{|rec| rec.operation_id },               :title=>"Operation-ID des Workareas zur Referenz in Explain-Plan"},
    {:caption=>"Pol.",          :data=>proc{|rec| rec.policy },                     :title=>"Sizing-Policy des Workareas"},
    {:caption=>"Est.Opt.Size",  :data=>proc{|rec| fn(rec.estimated_optimal_size) }, :title=>"Estimated size required by this work area to execute the operation completely in memory (optimal execution). Derived from either optimizer statistics or previous executions.", :align=>:right},
    {:caption=>"Est.Onep.Size", :data=>proc{|rec| fn(rec.estimated_onepass_size) }, :title=>"Estimated size required by this work area to execute the operation in a single pass. Derived from either optimizer statistics or previous executions.", :align=>:right},
    {:caption=>"Last Mem.Used", :data=>proc{|rec| fn(rec.last_memory_used) },       :title=>"Memory used by this work area during the last execution of the cursor", :align=>:right},
    {:caption=>"Last Exec.",    :data=>proc{|rec| rec.last_execution },             :title=>"Indicates whether this work area runs using OPTIMAL, ONE PASS, or ONE PASS memory requirement (or MULTI-PASS), during the last execution of the cursor"},
    {:caption=>"Last Degr.",    :data=>proc{|rec| fn(rec.last_degree) },            :title=>"Degree of parallelism used during the last execution of this operation", :align=>:right},
    {:caption=>"Total Execs",   :data=>proc{|rec| fn(rec.total_executions) },       :title=>"Number of times this work area was active", :align=>:right},
    {:caption=>"Opt.Execs",     :data=>proc{|rec| fn(rec.optimal_executions) },     :title=>"Number of times this work area ran in optimal mode", :align=>:right},
    {:caption=>"Onep.Execs",    :data=>proc{|rec| fn(rec.onepass_executions) },     :title=>"Number of times this work area ran in one-pass mode", :align=>:right},
    {:caption=>"Multp.Execs",   :data=>proc{|rec| fn(rec.multipasses_executions) }, :title=>"Number of times this work area ran below the one-pass memory requirement", :align=>:right},
    {:caption=>"Active Time",   :data=>proc{|rec| fn(rec.active_time) },            :title=>"Average time this work area is active (in hundredths of a second)", :align=>:right},
    {:caption=>"Max. Temp",     :data=>proc{|rec| fn(rec.max_tempseg_size) },       :title=>"Maximum temporary segment size (in bytes) created by an instantiation of this work area. This column is null if this work area has never spilled to disk.", :align=>:right},
    {:caption=>"Last Temp",     :data=>proc{|rec| fn(rec.last_tempseg_size) },      :title=>"Temporary segment size (in bytes) created in the last instantiation of this work area. This column is null if the last instantiation of this work area did not spill to disk.", :align=>:right},
   ]

%>
<%= gen_slickgrid(@workareas, column_options, {
    :caption => "PGA-Workarea aus GV$SQL_Workarea für Instance=#{@instance}, SQL-ID='#{@sql_id}' (#{@workareas.length} Records)",
    :max_height => 450
})
%>

<div id="<%= @update_area %>"></div>
