<%
  def show_operation(rec)
    tab = ""
    rec.depth.downto(2) {tab += " |&nbsp;"}
    "<span style='white-space: nowrap; color: lightgray;'>#{tab}</span><span>#{rec.operation} #{rec.options}</span>".html_safe
  end

   def field_style(rec)
     return "background-color:coral;"   if rec.version_red_count    < @plan_count
     return "background-color:orange;"  if rec.version_orange_count < @plan_count
   end

   column_options =
   [
     {:caption=>"Operation",    :data=>proc{|rec| show_operation(rec) },        :title=>"Art des Zugriffs", :no_wrap=>true},
     {:caption=>"ID",           :data=>proc{|rec| rec.id },                     :title=>"ID der Operation", :data_title=>proc{|rec| "Parent_ID=#{rec.parent_id}" }, :align=>:right  },
     {:caption=>"Object name",  :data=>proc{|rec| "#{rec.object_owner}.#{rec.object_name}" },  :title=>"Name des Objekts", :data_title=>proc{|rec| "Type=#{rec.object_type}" }  },
     {:caption=>"Parallel",     :data=>proc{|rec| rec.parallel_short },         :title=>"Parallelisierung (Other_Tag)", :data_title=>proc{|rec| rec.parallel }  },
     {:caption=>"Access",       :data=>proc{|rec| html_escape rec.access_predicates },      :title=>"Zugrifskriterium auf Objekt",  :max_wrap_width=>200, :style=>"word-wrap: break-word;", :data_title=>proc{|rec| "%t:\n#{html_escape rec.access_predicates}"} },
     {:caption=>"Filter",       :data=>proc{|rec| html_escape rec.filter_predicates },      :title=>"Filterkriterium für Objekt",   :max_wrap_width=>200, :style=>"word-wrap: break-word;", :data_title=>proc{|rec| "%t:\n#{html_escape rec.filter_predicates}"} },
   ]

   column_options.each do |c|
     c[:data_style] = proc{|rec| field_style(rec) }  # Einzelrecords der Ausfuehrungspläne nicht identisch
   end

%>

<div style="width:100%; max-height:80%; overflow:scroll; ">
  <table width="100%" >
    <tr>
      <td valign="top" width="50%">
        <%= gen_slickgrid(@plan_1, column_options, {
            :line_height_single => true,
            :caption => "instance=#{@instance_1}, SQL-ID='#{@sql_id_1}', child number=#{@child_number_1}", :width=>:auto
        }) %>
      </td>
      <td valign="top" width="50%">

        <%= gen_slickgrid(@plan_2, column_options, {
            :line_height_single => true,
            :caption=>"instance=#{@instance_2}, SQL-ID='#{@sql_id_2}', child number=#{@child_number_2}", :width=>:auto
        }) %>
      </td>
    </tr>
  </table>
</div>
