<%
   @update_area = get_unique_area_id

   def link_profile_name(rec)
     my_ajax_post_link(rec.name, {
                       :controller    => :dba_sga,
                       :action        => :list_sql_profile_detail,
                       :profile_name  => rec.name,
                       :update_area    => @update_area,
                       },
                       :title          => 'Show details for SQL profile'
     )

   end

   def link_sql_text(rec)
     my_ajax_post_link(rec.sql_text[0, 30], {
                       :controller    => :dba_sga,
                       :action        => :list_sql_profile_sqltext,
                       :profile_name  => rec.name,
                       :update_area    => @update_area,
                       },
                       :title          => 'Show full SQL text'
     )
   end

   column_options = [
    {:caption=>"Name",                  :data=>proc{|rec| link_profile_name(rec)},              :title=>"Name of profile"},
    {:caption=>"Category",              :data=>proc{|rec| rec.category},                        :title=>"Category of profile" },
    {:caption=>"Created",               :data=>proc{|rec| localeDateTime(rec.created)},         :title=>"Timestamp of creation" },
    {:caption=>"Last modified",         :data=>proc{|rec| localeDateTime(rec.last_modified)},   :title=>"Timestamp of last modification" },
    {:caption=>"Description",           :data=>proc{|rec| rec.description},                     :title=>"Text description provided for the SQL profile" },
    {:caption=>"Type",                  :data=>proc{|rec| rec.type},                            :title=>"Type of the SQL profile (how it was created)" },
    {:caption=>"Status",                :data=>proc{|rec| rec.status},                          :title=>"Status of the SQL profile" },
    {:caption=>"Force matching",        :data=>proc{|rec| rec.force_matching},                  :title=>"If TRUE this causes SQL Profiles to target all SQL statements which have the same text after normalizing all literal values to bind variables. (Note that if a combination of literal values and bind variables is used in the same SQL text, no transformation occurs). This is analogous to the matching algorithm use by the FORCE option of the CURSOR_SHARING parameter.\nIf FALSE, literals are not transformed. This is analogous to the matching algorithm used by the EXACT option of the CURSOR_SHARING parameter." },
    {:caption=>'Usages in SGA',         :data=>proc{|rec| fn(rec.sga_usages)},                  :title=>'Number of current usage of this profile in SGA (from gv$SQLArea.SQL_Profile)', :align=>:right },
    {:caption=>'Usages in history',     :data=>proc{|rec| fn(rec.awr_usages)},                  :title=>'Number of historic usage of this profile in AWR history (Number of distinct SQL-ID from DBA_Hist_SQLStat.SQL_Profile)', :align=>:right },
    {:caption=>"SQL",                   :data=>proc{|rec| link_sql_text(rec)},                  :title=>"Un-normalized SQL text" },
  ]

%>

<%=
  gen_slickgrid(@profiles, column_options, :caption => "SQL profiles from DBA_SQL_Profiles", :max_height=>450)
%>


<div id="<%= @update_area %>"></div>
