<%
  @update_area = get_unique_area_id

# Generische Funktion für Link
    def link_column_blocking_sid(rec)
      if rec.root_blocking_session
        my_ajax_link_to("#{rec["root_blocking_inst_id"] ? "#{rec.root_blocking_inst_id}:": ""}#{rec.root_blocking_session}",
          url_for(:action     => :list_session_statistic_historic_grouping,
                :groupfilter  => {
                                  "Session-ID"          => rec.root_blocking_session,
                                  :SerialNo             => rec.root_blocking_session_serialno,
                                  :Idle_Wait1           => "PX Deq Credit: send blkd",
                                  :DBID                 => session[:dbid],
                                  :time_selection_start => @time_selection_start,
                                  :time_selection_end   => @time_selection_end,
                                  :Min_Snap_ID          => @min_snap_id,
                                  :Max_Snap_ID          => @max_snap_id,
                          }.merge(rec["root_blocking_inst_id"] ? {:Instance =>rec.root_blocking_inst_id}: {}) ,         # root_blocking_inst_id erst ab 11.2
                :groupby      => 'Session/Sn.',
                :update_area  => @update_area
              ),
           :title=>"Anzeige der Wait-Historie der blocking Session"
        )
      else
        rec.root_blocking_session_status
      end
    end


    def link_column_sql_id(rec)
      if (rec.root_username        && rec.root_username.match(            "<.*>")) ||
         (rec.root_instance_number && rec.root_instance_number.to_s.match("<.*>")) ||
         (rec.root_sql_id          && rec.root_sql_id.to_s.match(         "<.*>"))
        rec.root_sql_id
      else
        link_historic_sql_id(rec.root_instance_number, rec.root_sql_id, @time_selection_start, @time_selection_end, @update_area, rec.root_username)
      end
    end

def link_column_blocked(rec, value)
  my_ajax_link_to(value,
   url_for( :action               => :list_blocking_locks_historic_detail,
            :update_area          => @update_area,
            :min_snap_id          => @min_snap_id,
            :max_snap_id          => @max_snap_id,
            :time_selection       => localeDateTime(rec.root_rounded_sample_time),
            :time_selection_start => @time_selection_start,
            :time_selection_end   => @time_selection_end,
            :blocking_instance    => rec["root_blocking_inst_id"] ? rec.root_blocking_inst_id : nil,
            :blocking_session     => rec.root_blocking_session,
            :blocking_session_serialno => rec.root_blocking_session_serialno
          ),
   :title=>'Anzeige der durch diese blocking Session geblockten Sessions')
end

def link_column_object(rec)
  update_area = "list_session_statistic_single_record_convert_rowid_#{rec.hash.abs}"
  if rec["current_row_no"] && rec.current_file_no && rec.current_file_no>0 && rec.current_block_no && rec.current_row_no # nach Oracle 11.2 und auch belegt
    my_ajax_link_to("File#=#{rec.current_file_no}, Block#=#{rec.current_block_no}, Row#=#{rec.current_row_no}",
                      url_for(:controller       => :dba,
                              :action           => :convert_to_rowid,
                              :update_area      => update_area,
                              :waitingforobject => rec.root_blocking_object,
                              :data_object_id   => rec.data_object_id,
                              :row_wait_file_no => rec.current_file_no,
                              :row_wait_block_no => rec.current_block_no,
                              :row_wait_row_no  => rec.current_row_no
                      ),
                      :title=>t(:dba_list_dml_locks_link_column_blocking_object_hint, :default=>"Determine associated rowid")
         )+"<div id=\"#{update_area}\"></div>".html_safe
  else
    ""
  end
end


    column_options = []
    column_options << {:caption=>"Snapshot",        :data=>proc{|rec| localeDateTime(   rec.root_rounded_sample_time) },         :title=>t(:active_session_history_list_blocking_locks_historic_snapshot_hint, :default=>'Snapshot timestamp (rounded to 1 or 10 seconds)') }
    column_options << {:caption=>'Dead lock',       :data=>proc{|rec| rec.deadlock },                                         :title=>'Deadlock between this session and another preceding session?' }
    column_options << {:caption=>"B.User",          :data=>proc{|rec| rec.root_blocking_username },                           :title=>"User-Name der blockenden Session" }             if session[:version] >= '11.2'
    column_options << {:caption=>"B.SID",           :data=>proc{|rec| link_column_blocking_sid(rec) },                        :title=>"SID der blockenden Session", :data_title=>proc{|rec| "SerialNo=#{rec.root_blocking_session_serialno}#{", Program=#{rec.root_blocking_program}" if session[:version] >= '11.2'}" } }
    column_options << {:caption=>"B.SQL-ID",        :data=>proc{|rec| link_historic_sql_id(rec.root_blocking_inst_id, rec.root_blocking_sql_id, @time_selection_start, @time_selection_end, @update_area, rec.root_blocking_username)},                              :title=>"SQL-ID der blockenden Session" }             if session[:version] >= '11.2'
    column_options << {:caption=>"B.Event",         :data=>proc{|rec| rec.root_blocking_event },                              :title=>"Wait-Event der blockenden Session" }             if session[:version] >= '11.2'
    column_options << {:caption=>"B.Module",        :data=>proc{|rec| rec.root_blocking_module },                             :title=>"Module der blockenden Session" }             if session[:version] >= '11.2'
    column_options << {:caption=>"B.Action",        :data=>proc{|rec| rec.root_blocking_action },                             :title=>"Action der blockenden Session" }             if session[:version] >= '11.2'
    column_options << {:caption=>"Direct Blocked",  :data=>proc{|rec| link_column_blocked(rec, rec.blocked_sessions_direct) },  :title=>"Anzahl unmittelbar durch diesen Blocker blockierter Sessions (< x >) oder konkrete geblockte Session wenn nur eine", :align=>"right"}
    column_options << {:caption=>"Total Blocked",   :data=>proc{|rec| link_column_blocked(rec, rec.blocked_sessions_total) },   :title=>"Anzahl unmittelbar und mittelbar blockierter Sessions durch diesen Blocker (< x >) oder konkrete geblockte Session wenn nur eine", :align=>"right"}
    column_options << {:caption=>"Total Wait (Sec.)", :data=>proc{|rec| formattedNumber(rec.seconds_in_wait_total,1) },         :title=>t(:active_session_history_list_blocking_locks_historic_total_wait_caption, :default=>'Sum over seconds in wait for indirect and direct blocked sessions')  , :align=>"right"}
    column_options << {:caption=>"Blocking Object", :data=>proc{|rec| "#{rec.root_blocking_object} #{link_column_object(rec)}" },  :title=>"Blockendes Objekt"}
    column_options << {:caption=>"W.I.",            :data=>proc{|rec| rec.waiting_instance },                                 :title=>"Instance der wartenden Session"}
    column_options << {:caption=>"W.User",          :data=>proc{|rec| rec.root_username },                                    :title=>"User der wartenden Session"}
    column_options << {:caption=>"W.SQL-ID",        :data=>proc{|rec| link_column_sql_id(rec) } ,                             :title=>"Aktuell ausgeführtes SQL der wartenden Session"}
    column_options << {:caption=>"W.Event",         :data=>proc{|rec| rec.root_event } ,                                      :title=>"Aktuell Wait-Event der wartenden Session", :data_title=>proc{|rec| explain_wait_event(rec.root_event)} }
    column_options << {:caption=>"W.Module",        :data=>proc{|rec| rec.root_module },                                      :title=>'Module of waiting session (or count if multiple modules)'}
    column_options << {:caption=>"W.Action",        :data=>proc{|rec| rec.root_action },                                      :title=>'Action of waiting session (or count if multiple actions)'}
%>

<%= gen_slickgrid(@locks, column_options, {
    :caption => "Blocking Locks zwischen #{@time_selection_start} und #{@time_selection_end} hierarchisch gruppiert ausgehend von Root-Blockern",
    :max_height => 450
  })
%>

<div id="<%= @update_area %>" style="clear: both;">
</div>
