<%
   def link_column(rec, value)                                                  # Übersteuern der vorherigen Implementierung
     value
   end

   def link_errors(rec, value)
     if value.to_i == 0
       value.to_s
     else
       my_ajax_link_to(value,
             url_for(:action => "show_oferrormessage",
                     :id_ofmessagetype => @ofmessagetype.id.to_i,
                     :time_selection_start  => rec.timestamp.strftime(strftime_format_with_minutes),
                     :timeSlice  => @timeSlice,
                     :update_area => @update_area),
           :title=>"Anzeige der Fehlermeldungen des Messagetypes und Zeitraumes (unterhalb)")
     end
   end

   # Abfakturieren der Inhalte von Queue-Length, @start_queue_length enthälzt den Initialwert
   def currentQueueLength(rec)
     @start_queue_length = @start_queue_length-rec.incoming.to_i+rec.firsttrysuccess.to_i+rec.retrysuccess.to_i+rec.finalerror.to_i
     if @start_queue_length < 0
       0
     else
       @start_queue_length
     end
   end

  column_options =
  [
    {:caption=>"Timestamp",         :data=>proc{|rec| localeDateTime(rec.timestamp)},        :title=>"Beginn des Zeitraumes der Messwerte", :plot_master=>true, :plot_master_time=>"milliSec1970(rec.timestamp)" },
    {:caption=>"Queue Length",      :data=>proc{|rec| formattedNumber(currentQueueLength(rec))}, :title=>"Anzahl wartende Messages in Queue an Beginn des Zeitraumes (tendentiell)",     :align=>'right'},
  ]

  column_options.concat define_default_columns

%>

<%=

    caption = "Details zu ID_OFMessageType=#{@ofmessagetype.id} : #{@ofmessagetype.name} Domain=#{@ofmessagetype.domain.name} von #{@time_selection_start} bis #{@time_selection_end}#{" RAC-Instance=#{@instance}" if @instance}"
    caption << "<br>#{@ofmessagetype.description}"
    caption << "<br>ID_Application=#{@ofmessagetype.id_application} : Verantwortlich: #{@ofmessagetype.application.developmentteam ? @ofmessagetype.application.developmentteam.name: ""}"

    gen_slickgrid(@history, column_options, {
            :plot_area_id => "list_message_detail_inner_plot_area",
            :max_height => 450,
            :caption => caption.html_safe
    })
%>

<div id="list_message_detail_inner_plot_area" style="float:left; width:100%;">
</div>

