<%
   @update_area = :list_quick_overview_detail_area

def link_column(rec, value)
  my_ajax_link_to(value,
        url_for(:action => "show_msgtype_details",
                :id_ofmessagetype => rec.id_ofmessagetype,
                :timeSlice => 20,
                :time_selection_start => (Time.now - 60*60*3).strftime(session[:database].strftime_format_with_minutes),
                :time_selection_end   => Time.now.strftime(session[:database].strftime_format_with_minutes),
                :update_area => @update_area  ),
        :title=>"Anzeige der Details des MessageTypes (unterhalb)")
end

def link_error(rec, value)
  my_ajax_link_to(value,
          url_for(:action => "show_oferrormessage",
                  :id_ofmessagetype => rec.id_ofmessagetype.to_i,
                  :update_area => @update_area ),
        :title=>"Anzeige der Fehlermeldungen des Messagetypes (unterhalb)") 
end

def erroneous_data_style(rec)
  "background-color:coral;" if rec.erroneous >= msgtyp(rec.id_ofmessagetype).messagecounterrorlimitalert
end

def msgtyp(id_ofmessagetype)
  Ofmessagetype.get_cached_instance(id_ofmessagetype, session[:database].hash)
end

def msgtype_with_activity(rec)
  "#{msgtyp(rec.id_ofmessagetype).yn_active=='N' ? '(' : ''}#{rec.id_ofmessagetype.to_i}#{msgtyp(rec.id_ofmessagetype).yn_active=='N' ? ')' : ''}"
end

id_data_title = 'YN_Active=#{msgtyp(rec.id_ofmessagetype).yn_active}, Domains=#{msgtyp(rec.id_ofmessagetype).domains}, Prio=#{msgtyp(rec.id_ofmessagetype).id_ofmessagepriority}, StandardBulkCount=#{msgtyp(rec.id_ofmessagetype).standardbulkcount}, MaxBulkGroupsInQueue=#{msgtyp(rec.id_ofmessagetype).maxbulkgroupsinqueue}'

column_options =
  [
    {:caption=>"Msg.Typ",     :data=>proc{|rec| link_column(rec, msgtype_with_activity(rec))},              :title=>"ID des MessageTypes (ID_OFMessageType)", :data_title=>id_data_title, :align=>"right"},
    {:caption=>"Name",        :data=>proc{|rec| link_column(rec, msgtyp(rec.id_ofmessagetype).name)},       :title=>"Beschreibung des Messagetypes", :data_title=>proc{|rec| "#{msgtyp(rec.id_ofmessagetype).description}"} },
    {:caption=>"Domain",      :data=>proc{|rec| link_column(rec, msgtyp(rec.id_ofmessagetype).domain.name)},:title=>"Application-Server-Domäne"},
    {:caption=>"Total",       :data=>proc{|rec| link_column(rec, formattedNumber(rec.total, 0, true))},     :title=>"Totale Anzahl Messages in Queue", :align=>"right", :data_title=>proc{|rec| "Total. MaxBulkGroupsInQueue=#{msgtyp(rec.id_ofmessagetype).maxbulkgroupsinqueue}, StandardBulkCount=#{msgtyp(rec.id_ofmessagetype).standardbulkcount}"} },
    {:caption=>"Working",     :data=>proc{|rec| link_column(rec, formattedNumber(rec.working, 0, true))},   :title=>"Anzahl Messages in Bearbeitung wartend auf Blocker oder Worker (ohne finalen Fehler)", :align=>"right", :data_title=>proc{|rec| "Wartend auf Blocker oder Worker. MaxBulkGroupsInQueue=#{msgtyp(rec.id_ofmessagetype).maxbulkgroupsinqueue}, StandardBulkCount=#{msgtyp(rec.id_ofmessagetype).standardbulkcount}"} },
    {:caption=>"Errors",      :data=>proc{|rec| link_error(rec, formattedNumber(rec.erroneous, 0, true))},  :title=>"Anzahl Messages im finalen Fehlerzustand", :data_title=>proc{|rec| "Anzahl Messages im finalen Fehlerzustand, max. Limit des Types = #{msgtyp(rec.id_ofmessagetype).messagecounterrorlimitalert}"}, :align=>"right", :data_style=>'#{erroneous_data_style(rec)}'},
    {:caption=>"BulkGroups",  :data=>proc{|rec| link_column(rec, formattedNumber(rec.bulkgroups, 0, true))},:title=>"Totale Anzahl BulkGroups (Transaktions-Gruppen)", :align=>"right"},
    {:caption=>"Active",      :data=>proc{|rec| link_column(rec, formattedNumber(rec.activebulkgroups, 0, true))},:title=>"Anzahl aktuell in Abarbeitung durch Worker befindliche BulkGroups (Transaktions-Gruppen)", :align=>"right"},
    {:caption=>"Min.Prio",    :data=>proc{|rec| link_column(rec, localeDateTime(rec.maxprio))},             :title=>"Minimale Priorität (großer Zeitstempel) einer Message dieses Types"},
    {:caption=>"Max.Prio",    :data=>proc{|rec| link_column(rec, localeDateTime(rec.minprio))},             :title=>"Maximale Priorität (kleiner Zeitstempel) einer Message dieses Types"},
    {:caption=>"Max.BG-Prio", :data=>proc{|rec| link_column(rec, localeDateTime(rec.minbulkgroupprio))},    :title=>"Maximale Priorität (kleiner Zeitstempel) einer BulkGroup dieses Types"},
    {:caption=>"Oldest BG Creation", :data=>proc{|rec| link_column(rec, localeDateTime(rec.minbulkgroupcreationts))},  :title=>"Erzeugungs-Zeitpunkt der ältesten Bulkgroup des Msg-Types"},
  ]

%>

<%= gen_slickgrid(@msgsums, column_options,{
        :caption => "Aktueller Queue-Inhalt des Online-Framework (Schnell) #{localeDateTime(@sysdate)}",
        :max_height => 450
}) %>

<div id="<%= @update_area %>"></div>

