<%
   def link_column(rec, value)                                                  # Übersteuern der vorherigen Implementierung
     value
   end

   def link_errors(rec, value)
     if value.to_i == 0
       value.to_s
     else
       my_ajax_link_to(value,
            url_for(:action                => :show_oferrormessage,
                     :id_ofmessagetype      => rec.id_ofmessagetype,
                     :time_selection_start  => @startTimestamp.strftime(session[:database].strftime_format_with_minutes),
                     :timeSlice             => @timeSlice,
                     :update_area            => :timeslice_details_detail_area
            ),
            :title=>"Anzeige der Fehlermeldungen des Zeitabschnittes (unterhalb)")
     end
   end



   column_options =
   [
     {:caption=>"MsgType",           :data=>proc{|rec| fn(rec.id_ofmessagetype)},        :title=>"ID_OFMesssageType", :data_title=>proc{|rec| "#{rec.id_ofmessagetype}:#{rec.msgtypename}"} },
   ]

   column_options.concat define_default_columns

%>

<%= gen_slickgrid(@history, column_options, {
      :caption => "Details zu Zeitabschnitt beginnend #{localeDateTime(@startTimestamp)}, Länge #{@timeSlice} Minuten#{", Domain="+Domain.find(@id_domain).name unless @id_domain==0 }#{", RAC-Instance=#{@instance}" if @instance}",
      :max_height => 450
}) %>



<div id="timeslice_details_detail_area">

</div>