<%
  @update_area = get_unique_area_id

  def link_column(rec, value)
  my_ajax_link_to(value,
        url_for(:action => :show_msgtype_details,
                :id_ofmessagetype => rec.id_ofmessagetype,
                :timeSlice => 20,
                :time_selection_start => (Time.now - 60*60*3).strftime(session[:database].strftime_format_with_minutes),
                :time_selection_end   => Time.now.strftime(session[:database].strftime_format_with_minutes),
                :update_area => @update_area),
        :title=>"Anzeige der Historie des MessageTypes (unterhalb)")
  end

  def getDomain(id_domain)
    Domain.get_cached_instance(id_domain)
  end

  def getOFMessageType(id_ofmessagetype)
    Ofmessagetype.get_cached_instance(id_ofmessagetype, session[:database].hash)
  end

  def msgtype_datatitle(rec)
    ofmessagetype = getOFMessageType(rec.id_ofmessagetype)
    "#{rec.id_ofmessagetype}:#{ofmessagetype.name} : #{ofmessagetype.description} : Domain=#{ofmessagetype.domain.name}"
  end

  def messages_datatitle(rec)
    ofmessagetype = getOFMessageType(rec.id_ofmessagetype)
    "StandardBulkCount=#{ofmessagetype.standardbulkcount}, MaxBulkCount=#{ofmessagetype.maxbulkcount}, MaxBulkGroupsInQueue=#{ofmessagetype.maxbulkgroupsinqueue}"
  end

  column_options =
  [
    {:caption=>"Type",             :data=>proc{|rec| link_column(rec, fn(rec.id_ofmessagetype))},           :title=>"ID_OFMessageType", :align=>"right", :data_title=>'#{msgtype_datatitle(rec)}'},
    {:caption=>"Domain",           :data=>proc{|rec| getDomain(rec.id_domain).name},                        :title=>"Domain" },
    {:caption=>"Total",            :data=>proc{|rec| formattedNumber(rec.total)},                           :title=>"Anzahl OFBulkGroups total", :align=>"right", :data_title=>'%t, #{messages_datatitle(rec)}'},
    {:caption=>"Wait.",          :data=>proc{|rec| formattedNumber(rec.waiting)},                         :title=>"Anzahl OFBulkGroups wartend auf Verarbeitung", :align=>"right", :data_title=>'%t, #{messages_datatitle(rec)}'},
    {:caption=>"Work.",          :data=>proc{|rec| formattedNumber(rec.working)},                         :title=>"Anzahl OFBulkGroups aktuell in Verarbeitung", :align=>"right", :data_title=>'%t, #{messages_datatitle(rec)}'},
    {:caption=>"min. Creation",    :data=>proc{|rec| localeDateTime(rec.mincreation)},                      :title=>"ältester Zeitpunkt der Erzeugung einer BulkGroup"},
    {:caption=>"max. Creation",    :data=>proc{|rec| localeDateTime(rec.maxcreation)},                      :title=>"jüngster Zeitpunkt der Erzeugung einer BulkGroup"},
    {:caption=>"min. Prio",        :data=>proc{|rec| localeDateTime(rec.minprio)},                          :title=>"minimale Prioriät einer BulkGroup"},
    {:caption=>"max. Prio",        :data=>proc{|rec| localeDateTime(rec.maxprio)},                          :title=>"maximale Prioriät einer BulkGroup"},
    {:caption=>"max. Alter",       :data=>proc{|rec| formattedNumber(rec.maxage)},                          :title=>"max. Alter einer Bulkgroup in Sekunden seit Erstellung", :align=>"right"},
  ]
%>
<%= gen_slickgrid(@bulkgroup_type_sums, column_options, {
          :caption => "OFBulkGroups total nach Messagetype ( #{@bulkgroups.length} )",
          :max_height => 300, :width=>:auto
}) %>

<%
column_options =
[
  {:caption=>"Domain",           :data=>proc{|rec| getDomain(rec.id_domain).name},                        :title=>"Domain" },
  {:caption=>"Total",            :data=>proc{|rec| formattedNumber(rec.total)},                           :title=>"Anzahl OFBulkGroups total", :align=>"right"},
  {:caption=>"Wait.",          :data=>proc{|rec| formattedNumber(rec.waiting)},                         :title=>"Anzahl OFBulkGroups wartend auf Verarbeitung", :align=>"right"},
  {:caption=>"Work.",          :data=>proc{|rec| formattedNumber(rec.working)},                         :title=>"Anzahl OFBulkGroups aktuell in Verarbeitung", :align=>"right"},
  {:caption=>"min. Creation",    :data=>proc{|rec| localeDateTime(rec.mincreation)},                      :title=>"ältester Zeitpunkt der Erzeugung einer BulkGroup"},
  {:caption=>"max. Creation",    :data=>proc{|rec| localeDateTime(rec.maxcreation)},                      :title=>"jüngster Zeitpunkt der Erzeugung einer BulkGroup"},
  {:caption=>"min. Prio",        :data=>proc{|rec| localeDateTime(rec.minprio)},                          :title=>"minimale Prioriät einer BulkGroup"},
  {:caption=>"max. Prio",        :data=>proc{|rec| localeDateTime(rec.maxprio)},                          :title=>"maximale Prioriät einer BulkGroup"},
  {:caption=>"max. Alter",       :data=>proc{|rec| formattedNumber(rec.maxage)},                          :title=>"max. Alter einer Bulkgroup in Sekunden seit Erstellung", :align=>"right"},
]
%>

<%= gen_slickgrid(@bulkgroup_domain_sums, column_options, {
          :caption => "OFBulkGroups total nach Domains ( #{@bulkgroups.length} )",
          :max_height => 300, :width=>:auto
}) %>
<%
  column_options =
  [
    {:caption=>"ID",               :data=>proc{|rec| formattedNumber(rec.id) },                  :title=>"ID_OFBulkGroup", :align=>"right"},
    {:caption=>"Creation",         :data=>proc{|rec| localeDateTime(rec.creationtimestamp)},    :title=>"Zeitpunkt der Erzeugung der BulkGroup"},
    {:caption=>"Alter",            :data=>proc{|rec| formattedNumber(rec.age_secs)},            :title=>"Alter der Bulkgroup in Sekunden seit Erstellung", :align=>"right"},
    {:caption=>"Prio",             :data=>proc{|rec| localeDateTime(rec.calculatedpriority)},   :title=>"Priorität als Zeitstempel (FiFo)"},
    {:caption=>"Msg-Type",         :data=>proc{|rec| link_column(rec, fn(rec.id_ofmessagetype))},    :title=>"ID_OFMessageType", :align=>"right", :data_title=>'#{msgtype_datatitle(rec)}'},
    {:caption=>"Messages",         :data=>proc{|rec| formattedNumber(rec.messages)},            :title=>"Anzahl Messages je OFBulkGroup", :align=>"right", :data_title=>'#{messages_datatitle(rec)}'},
    {:caption=>"Start Process",    :data=>proc{|rec| localeDateTime(rec.processstart)},         :title=>"Start-Zeitpunkt der Verarbeitung in Worker"},
    {:caption=>"Dauer Process",    :data=>proc{|rec| formattedNumber(rec.in_process_secs)},     :title=>"Dauer der Verarbeitung in Worker in Sekunden", :align=>"right"},
  ]

  messages = 0
  @bulkgroups.each do |b| messages += b.messages end

%>

<%= gen_slickgrid(@bulkgroups, column_options, {
        :caption => "Aktuell in Bearbeitung durch Worker befindliche (StartProcess != NULL) OFBulkGroup ( #{@bulkgroups.length} OFBulkGroups, #{messages} OFMessages )",
        :max_height => 450
}) %>

<div id="<%= @update_area %>"></div>