<%
   @update_area = "single_record_detail_area"

   def show_client(rec)
     my_ajax_link_to(rec.IP_Address,
       url_for(:action      => "ip_info",
               :ip_address  => rec.IP_Address,
               :update_area => @update_area
             ),
      :title=>"Details zu IP-Adresse")
   end

column_options = [
        {:caption=>"Timestamp",     :data=>proc{|rec| rec.Timestamp},   },
        {:caption=>"Database",      :data=>proc{|rec| rec.Database},   },
        {:caption=>"Client",        :data=>proc{|rec| show_client(rec)},   },
        {:caption=>"Controller",    :data=>proc{|rec| rec.Controller},   },
        {:caption=>"Action",        :data=>proc{|rec| rec.Action},   },
        {:caption=>"URL",           :data=>proc{|rec| rec.URL},             :title=> 'Attached host:port:sid/servicename'},
        ]

   caption = "Einzel-Records, Filter: "
   @filter.each do |key, value|
     caption << "#{key}=#{value}, "
   end

%>

<%= gen_slickgrid(@recs, column_options, {:caption=>caption, :max_height=>450, :width=>"auto"}) %>

<div id="<%= @update_area %>" style="float:left; width:100%; ">
</div>


