<html>
    <head>
      <title>Panorama : Nutzungs-Statistik</title>
      <%= stylesheet_link_tag    "panorama/application", media: "all" %>
      <%= javascript_include_tag "panorama/application" %>

      <script type="text/javascript">
         /* Initialisierung von Objekten bei startup der Seite */
         bind_ajax_callbacks();                                                  // Callbacks für jeden Ajax-Aufruf binden

        register_tooltip(jQuery(document));                                     // Jquery-UI Tooltips verwenden

        // Ueberladen der Funktionen aus application.js
        function showIndicator(url) {
            jQuery("#indicator").show();
        }

        function hideIndicator(url) {
            jQuery("#indicator").hide();
        }


      </script>
    </head>
    <body style="background-color: #ccccff;
                 color: #333;
                 font-family: sans-serif;
                 margin: 0;
                 padding:  5px;
                " onload="hideIndicator();">
        <div id="slick_test_cells">
            <!-- Tables für Test der resultierenden Hoehe und Breite von Zellen für slickGrid -->
            <!-- Zwei table für volle Zeichenbreite -->
            <table style='visibility:hidden; position:absolute;'><tr><td class="slick_header_column ui-widget-header" style="padding: 0; margin: 0;"><div id='test_header'></div></td></tr></table>
            <table style='visibility:hidden; position:absolute;'><tr><td class="slick-inner-cell"                     style="padding: 0; margin: 0;"><div id='test_cell'></div></td></tr></table>
            <!-- Zwei table für umgebrochene Zeichenbreite -->
            <table style='visibility:hidden; position:absolute; width:1;'><tr><td class="slick_header_column ui-widget-header"        style="padding: 0; margin: 0;"><div id='test_header_wrap'></div></td></tr></table>
            <table style='visibility:hidden; position:absolute; width:1;'><tr><td class="slick-inner-cell"  style="padding: 0; margin: 0;"><div id='test_cell_wrap'></div></td></tr></table>
        </div>
        <div class="usage_help_head_block">
            <h2 style="margin: 10px; padding: 15px;">
              <div style="float:left;">Panorama : Nutzungs-Statistik</div>
            </h2>
            <div id="indicator" style="position: absolute;right: 10px; top: 30px;">
              <img src="../assets/panorama/ajax-loader.gif">
            </div>
        </div>

            <%

               def link_column(rec, value, groupkey)
                   my_ajax_link_to(value,
                     url_for(:action      => "detail_sum",
                             :groupkey    => groupkey,
                             :filter      => { :Month => rec.Month },
                             :update_area => "usage_info_detail_area"
                           ),
                    :title=>"Aufgliederung der Daten nach #{groupkey}")
               end

               def link_column_database(rec)
                   link_column(rec, formattedNumber(rec.Databases), "Database")
               end

               def link_column_client(rec)
                   link_column(rec, formattedNumber(rec.Clients), "IP_Address")
               end

               def link_column_controller(rec)
                   link_column(rec, formattedNumber(rec.Controllers), "Controller")
               end

               def link_column_action(rec)
                   link_column(rec, formattedNumber(rec.Actions), "Action")
               end

               def link_column_single_record(rec, value)
                   my_ajax_link_to(value,
                     url_for(:action      => "single_record",
                             :filter      => { :Month => rec.Month },
                             :update_area => "usage_info_detail_area"
                           ),
                    :title=>"Anzeige der einzelnen Records")
               end


            column_options =
            [
              {:caption=>"Monat",            :data=>proc{|rec| rec.Month},                                :title=>"Intervall der Gruppierung"},
              {:caption=>"Requests",         :data=>proc{|rec| link_column_single_record(rec, formattedNumber(rec.Requests))},   :title=>"Anzahl der Requests im Zeitraum", :align=>"right"},
              {:caption=>"Databases",        :data=>proc{|rec| link_column_database(rec)},                :title=>"Anzahl DB, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"},
              {:caption=>"Clients",          :data=>proc{|rec| link_column_client(rec)},                  :title=>"Anzahl Clients, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"},
              {:caption=>"Controllers",      :data=>proc{|rec| link_column_controller(rec)},              :title=>"Anzahl Controller, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"},
              {:caption=>"Actions",          :data=>proc{|rec| link_column_action(rec)},                  :title=>"Anzahl Actions, für die im Zeitaum Requests ausgeführt wurden", :align=>"right"},
            ]
            %>
            <%= gen_slickgrid(@usage, column_options, {:caption=>"Überblick nach Monaten", :max_height=>450, :width=>:auto}) %>

            <div id="usage_info_detail_area" style="float:left; width:100%; ">
            </div>
    </body>
</html>