<% @update_area = get_unique_area_id %>
<%

   def link_dependents(rec)
     ajax_link(fn(rec.depend_count), {
                             :controller    => :dba_sga,
                             :action        => :list_result_cache_dependents,
                             :instance      => rec.inst_id,
                             :id            => rec.id,
                             :status        => rec.status,
                             :name          => rec.name,
                             :namespace     => 'Dependency',
                             :update_area => @update_area
                     },
                     :title=> 'Show depent results for dependency')
   end

  def link_name(rec)
    link_object_description(@update_area, rec.name.split(".")[0], rec.name.split(".")[1], nil, rec.object_type);
  end


   column_options =
           [
                   {:caption=>'ID',             :data=>proc{|rec| formattedNumber(rec.id)}, :title=>'Identifier for the cache object (also the ID of the first block)', :align=>:right},
                   {:caption=>"Status",         :data=>proc{|rec| rec.status},                                          :title=>"Status of object: 'New'=Result is still under construction, 'Published'=Result is available for use, 'Bypass'=Result will be bypassed from use, 'Expired'=Result has exceeded expiration time, 'Invalid'=Result is no longer available for use"},
                   {:caption=>'Object type',    :data=>proc{|rec| rec.object_type},                                     :title=>"Object type from DBA_Objects via gv$Result_Cache_Objects.Object_no"},
                   {:caption=>"Name",           :data=>proc{|rec| link_name(rec)},                                      :title=>"Name of object"},
                   {:caption=>'Creation',       :data=>proc{|rec| localeDateTime(rec.creation_timestamp)},              :title=>'Time when the object was created'},
                   {:caption=>"Creator",        :data=>proc{|rec| rec.username},                                        :title=>'User that created the object'},
                   {:caption=>'Depend. count',  :data=>proc{|rec| link_dependents(rec)},                                :title=>'Number of single dependent cached results', :align=>:right},
                   {:caption=>'Block count',    :data=>proc{|rec| fn(rec.block_count)},                                 :title=>'Total number of blocks in the cached object', :align=>:right},
                   {:caption=>'SCN',            :data=>proc{|rec| fn(rec.scn)},                                         :title=>'Invalidation SCN', :align=>:right},
                   {:caption=>'Object number',  :data=>proc{|rec| fn(rec.object_no)},                                  :title=>'Dictionary object number of the dependency object', :align=>:right},
                   {:caption=>'Invalidations',   :data=>proc{|rec| fn(rec.invalidations)},                                :title=>'Number of times the object has invalidated its dependents', :align=>"right"},
           ]

%>
<%= gen_slickgrid(@dependencies, column_options, {
                                  :caption => "Dependencies for instance=#{@instance}#{", ID=#{@id}" if @id}#{", status='#{@status}'" if @status}#{", name='#{@name}'" if @name}#{", namespace='#{@namespace}'" if @namespace}",
                                  :max_height => 450, show_pin_icon: 1,
                          }) %>


<div id="<%= @update_area %>"></div>