<%
@update_area = get_unique_area_id
%>

<%= render :partial=>"list_sql_sga_stat" %>

<div style="padding: 5px"></div>

<%=
  render_async(:dba_sga, :list_pga_sql_workareas, {
    sql_id:    @sql.sql_id,
    child_no:  @child_number,
    update_area: @update_area
  })
%>

<%= render :partial=>"list_sql_sga_stat_footer" %>

<div id="<%= @update_area %>"></div>

