<%= my_ajax_form_tag url_for(:controller=>:dba_sga, :action=>"list_sga_components", :update_area=>"show_sga_components_area") do %>
  <div class="float_left">
    <b>SGA-Komponenten aus gv$SGAStat</b>
  </div>
  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, "", :size=>1, :title=>"Einschränkung auf RAC-Instance") %>
  </div>
  <div class="float_left">
  <%= submit_tag("SGA Komponenten", :title => "Anlistung der SGA-Komponenten") %>
  </div>
<% end %>
<div id="show_sga_components_area" style="float:left; width:100%;">


</div>
