<%
  def link_sql(rec)
    link_sql_id(:show_using_sqls_detail_area, rec.inst_id, rec.sql_id, rec.child_number, rec.parsing_schema_name)
  end

column_options =
[
  {:caption=>"I",           :data=>proc{|rec| formattedNumber(rec.inst_id)},               :title=>"Instance-ID"},
  {:caption=>"User",        :data=>proc{|rec| rec.parsing_schema_name},                    :title=>"User-Name beim Parsen"},
  {:caption=>"Operation",   :data=>proc{|rec| "#{rec.operation} #{rec.options}"},          :title=>"Operation im explain plan"},
  {:caption=>"Access",      :data=>proc{|rec| rec.access_predicates},                      :title=>"Zugriffskriterium"},
  {:caption=>"SQL-ID",      :data=>proc{|rec| link_sql(rec)},                              :title=>"SQL-ID"},
  {:caption=>"SQL-Text",    :data=>proc{|rec| rec.sql_text},                               :title=>"SQL-Text"},
  {:caption=>"Execs",       :data=>proc{|rec| formattedNumber(rec.executions)},            :title=>"Anzahl Ausfuehrungen", :align=>"right"},
  {:caption=>"Elapsed",     :data=>proc{|rec| formattedNumber(rec.elapsed_time_secs)},     :title=>"Total elapsed time in Sec.", :align=>"right"},
  {:caption=>"Ela./Ex.",    :data=>proc{|rec| formattedNumber(rec.elapsed_time_secs_per_execute)}, :title=>"elapsed time per execute in Sec. (incl. parallel Query Slaves)", :align=>"right"},
  {:caption=>"CPU",         :data=>proc{|rec| formattedNumber(rec.cpu_time_secs)},         :title=>"CPU-Time in Sekunden", :align=>"right"},
  {:caption=>"Disk Reads",  :data=>proc{|rec| formattedNumber(rec.disk_reads)},            :title=>"Total Disk Reads", :align=>"right"},
  {:caption=>"Disk/Ex.",    :data=>proc{|rec| formattedNumber(rec.disk_reads_per_execute)},:title=>"Disk Reads per Execute", :align=>"right"},
  {:caption=>"Buffer Gets", :data=>proc{|rec| formattedNumber(rec.buffer_gets)},           :title=>"Total Buffer Gets", :align=>"right"},
  {:caption=>"Buffer/Ex.",  :data=>proc{|rec| formattedNumber(rec.buffer_gets_per_exec)},  :title=>"Buffer Gets per execute", :align=>"right"},
  {:caption=>"Rows proc.",  :data=>proc{|rec| formattedNumber(rec.rows_processed)},        :title=>"Anzahl Rows processed", :align=>"right"},
  {:caption=>"Rows/Ex.",    :data=>proc{|rec| formattedNumber(rec.rows_processed_per_execute)},    :title=>"Anzahl Rows processed per Execute", :align=>"right"},
]
%>

<%= gen_slickgrid(@sqls, column_options, {:max_height=>450}) %>

<div id="show_using_sqls_detail_area" style="float:left; width:100%;">
</div>
