<%
  if prepare_param(:update_area_for_target)
    @update_area = prepare_param(:update_area_for_target)                       # target DIV already exists, don't create an own div
  else
    @update_area = get_unique_area_id                                           # no target div given, create my own
  end

  def list_sql_text(rec)
    ajax_link(rec.sql_text.html_safe,
                            {:controller   => :dba_sga,
                             :action       => :list_sql_translation_sql_text,
                             :owner        => rec.owner,
                             :profile_name => rec.profile_name,
                             :sql_id       => rec.sql_id,
                             :update_area  => @update_area,
                            },
                    :title=>"Show complete text of SQL"
    )
  end

  def list_translated_text(rec)
    ajax_link(rec.translated_text.html_safe,
                            {:controller   => :dba_sga,
                             :action       => :list_sql_translation_translated_text,
                             :owner        => rec.owner,
                             :profile_name => rec.profile_name,
                             :sql_id       => rec.sql_id,
                             :update_area  => @update_area,
                            },
                    :title=>"Show complete text of SQL"
    )
  end

  column_options = []
  column_options << {:caption=>'Owner',               :data=>proc{|rec| rec.owner},                             :title=>"Owner of SQL translation profile"}
  column_options << {:caption=>'Profile name',        :data=>proc{|rec| rec.profile_name},                      :title=>"Name of SQL translation profile"}
  column_options << {:caption=>'SQL to translate',    :data=>proc{|rec| list_sql_text(rec)},                    :title=>"Text of original SQL to be translated\nThis SQL text will never occur in SQL Area etc. if SQL is translated to another SQL text."}
  column_options << {:caption=>'SQL ID to translate', :data=>proc{|rec| rec.sql_id},                            :title=>"SQL ID of original SQL to be translated\nThis SQL-ID will never occur in SQL Area etc. if SQL is translated to another SQL text."}
  column_options << {:caption=>'Translated SQL',      :data=>proc{|rec| list_translated_text(rec)},             :title=>"Text of translated SQL after translation\nThis SQL text will occur in SQL Area etc. if translation is active."}
  column_options << {:caption=>'Enabled',             :data=>proc{|rec| rec.enabled},                           :title=>"Is translation enabled?"}
  column_options << {:caption=>'Registration time',   :data=>proc{|rec| localeDateTime(rec.registration_time)}, :title=>"Timestamp of translation registration"}                                                if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Client info',         :data=>proc{|rec| rec.client_info},                       :title=>"Client information when the SQL was parsed and the translation was registered"}        if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Module',              :data=>proc{|rec| rec.module},                            :title=>"Module when the SQL was parsed and the translation was registered"}                    if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Action',              :data=>proc{|rec| rec.action},                            :title=>"Action when the SQL was parsed and the translation was registered"}                    if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Parsing user',        :data=>proc{|rec| rec.parsing_user_name},                 :title=>"Current user when the SQL was parsed and the translation was registered"}              if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Parsing schema',      :data=>proc{|rec| rec.parsing_schema_name},               :title=>"Current schema when the SQL was parsed and the translation was registered"}            if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Comments',            :data=>proc{|rec| rec.comments},                          :title=>"Comments on the translation"}                                                          if get_db_version > '12.1.0.1.0'
  column_options << {:caption=>'Error code',          :data=>proc{|rec| rec.error_code},                        :title=>"Last error code when the SQL was run"}                                                 if get_db_version >= '12.2'
  column_options << {:caption=>'Error source',        :data=>proc{|rec| rec.error_source},                      :title=>"Source of the last error"}                                                             if get_db_version >= '12.2'
  column_options << {:caption=>'Translation method',  :data=>proc{|rec| rec.translation_method},                :title=>"Method used to translate the SQL during the last error"}                               if get_db_version >= '12.2'
  column_options << {:caption=>'Dict. SQL-ID',        :data=>proc{|rec| rec.dictionary_sql_id},                 :title=>"SQL identifier of the SQL text in the translation dictionary used to translate the SQL during the last error"} if get_db_version >= '12.2'

%>

<%=
  if @translated_sql_id
    caption = "<div style=\"background-color: coral;\">SQL text of SQL-ID='#{@translated_sql_id}' is result of SQL-translation (from DBA_SQL_Translations)</div>".html_safe
  else
    caption = "SQL-translations from DBA_SQL_Translations"
  end

  gen_slickgrid(@translations, column_options, :caption => caption, :max_height=>450, show_pin_icon: 1) if @translated_sql_id.nil? || @translations.count > 0
%>

<% unless prepare_param(:update_area_for_target) %>
  <div id="<%= @update_area %>"></div>
<% end %>