<div style="width:100%;">
</div>

<%
   @update_area = get_unique_area_id

    def link_column(tag, d, value)
      my_ajax_link_to(value,
                    url_for(:action => :list_sql_detail_historic,
                            :sql_id      => d.sql_id,
                            :parsing_schema_name => d.parsing_schema_name,
                            :dbid        => tag == 1 ? d.dbid_t1 : d.dbid_t2,
                            :instance    => tag == 1 ? d.min_instance_number_t1 : d.min_instance_number_t2,
                            :min_snap_id => tag == 1 ? d.min_snap_id_t1 : d.min_snap_id_t2,
                            :max_snap_id => tag == 1 ? d.max_snap_id_t1 : d.max_snap_id_t2,
                            :time_selection_start   => (tag == 1 ? @tag1 : @tag2) + " 00:00",
                            :time_selection_end     => (tag == 1 ? @tag1 : @tag2) + " 23:59",
                            :update_area => @update_area
                           ),
                     :title=>"Show details of SQL for the respective day")
    end

   def link_execution_plan(rec, value)
     my_ajax_link_to(value,
                     url_for(:update_area          => @update_area,
                             :action               => :list_sql_history_execution_plan,
                             :controller           => :dba_history,
                             :instance             => @instance,
                             :sql_id               => rec.sql_id,
                             :time_selection_start => "#{@tag1} 00:00",
                             :time_selection_end   => "#{@tag2} 23:59",
                             ),
                    :title=>"All execution plans between first and last day")
   end

  def elapsed_diff_pct(rec)
    if rec.elapsed_time_t2 < rec.elapsed_time_t1
     formattedNumber((1-rec.elapsed_time_t2/rec.elapsed_time_t1.to_f)*100,0)
    else
     formattedNumber((1-rec.elapsed_time_t1/rec.elapsed_time_t2.to_f)*100,0)
    end
  end

   def elapsed_per_exec_diff_pct(rec)
     if rec.elapsed_per_exec_t2 < rec.elapsed_per_exec_t1
      formattedNumber((1-rec.elapsed_per_exec_t2/rec.elapsed_per_exec_t1.to_f)*100,0)
     else
      formattedNumber((1-rec.elapsed_per_exec_t1/rec.elapsed_per_exec_t2.to_f)*100,0)
     end
   end


  def korr_elapsed_diff(rec)
    fn(((rec.elapsed_time_t2-(rec.executions_t2 * rec.elapsed_per_exec_t1))/1000000.0).abs)
  end

column_options =
[
  {:caption=>"I#",                    :data=>proc{|rec| rec.instance_count},                                                      :title=>"Number of affected RAC-Instances" },
  {:caption=>"I<",                    :data=>proc{|rec| rec.min_instance_number},                                                 :title=>"Minimum ID of RAC-Instances" },
  {:caption=>"SQL-ID",                :data=>proc{|rec| link_sql_id(@update_area, rec.min_instance_number, rec.sql_id) },         :title=>"SQL-ID of statement" },
  {:caption=>"Plans",                 :data=>proc{|rec|  link_execution_plan(rec, rec.execution_plan_count)},                     :title=>"Number of different execution plans", :data_style=>proc{|rec| (rec.execution_plan_count>1 ? "background-color:coral;" : "") } },
  {:caption=>"Elapsed Day 1",         :data=>proc{|rec| link_column(1, rec, formattedNumber(rec.elapsed_time_t1/1000000.0,0)) },  :title=>"Elapsed time in seconds at day 1", :align=>:right },
  {:caption=>"Elapsed Day 2",         :data=>proc{|rec| link_column(2, rec, formattedNumber(rec.elapsed_time_t2/1000000.0,0)) },  :title=>"Elapsed time in seconds at day 2", :align=>:right },
  {:caption=>"Elapsed Diff (Sec.)",   :data=>proc{|rec| formattedNumber((rec.elapsed_time_t2-rec.elapsed_time_t1)/1000000.0,0) }, :title=>"Difference of elapsed time between day 1 and day2 in seconds", :align=>:right },
  {:caption=>"Elapsed Diff. %",       :data=>proc{|rec| elapsed_diff_pct(rec) },                                                  :title=>"Difference of elapsed time between day 1 and day2 in %", :align=>:right },
  {:caption=>"Korr. Elapsed Diff",    :data=>proc{|rec| korr_elapsed_diff(rec)},                                                  :title=>"Weighted difference of elapsed time betwenn day 1 and day 2 in seconds related to the number of executions at day 2", :align=>:right },
  {:caption=>"Exec. Tag 1",           :data=>proc{|rec| link_column(1, rec, formattedNumber(rec.executions_t1)) },                :title=>"Number of executions at day 1", :align=>:right },
  {:caption=>"Exec. Tag 2",           :data=>proc{|rec| link_column(2, rec, formattedNumber(rec.executions_t2)) },                :title=>"Number of executions at day 2", :align=>:right },
  {:caption=>"Elapsed / Exec. Tag 1", :data=>proc{|rec| link_column(1, rec, formattedNumber(rec.elapsed_per_exec_t1/1000000,3)) }, :title=>"Seconds per execution at day 1", :align=>:right },
  {:caption=>"Elapsed / Exec. Tag 2", :data=>proc{|rec| link_column(2, rec, formattedNumber(rec.elapsed_per_exec_t2/1000000,3)) }, :title=>"Seconds per execution at day 2", :align=>:right },
  {:caption=>"Diff. Elapsed/Exec. %", :data=>proc{|rec| elapsed_per_exec_diff_pct(rec) },                                         :title=>"Difference of elapsed time between day 1 and day2 in %", :align=>:right },
  {:caption=>"Rows Tag 1",            :data=>proc{|rec| link_column(1, rec, formattedNumber(rec.rows_processed_t1)) },            :title=>"Number of rows processed at day 1", :align=>:right },
  {:caption=>"Rows Tag 2",            :data=>proc{|rec| link_column(2, rec, formattedNumber(rec.rows_processed_t2)) },            :title=>"Number of rows processed at day 2", :align=>:right },
]

%>

<%= gen_slickgrid(@diffs, column_options, {
        :caption => "#{t(:dba_history_listcompare_sql_area_historic_caption, :default=>"Comparison of SQL runtimes of two days: Day 1 '%{tag1}', Day 2 '%{tag2}'", :tag1=>@tag1, :tag2 => @tag2)} #{" Instance = #{@instance}" if @instance}#{" Filter = '#{@filter}'" if @filter}#{" SQL_ID = '#{@sql_id}'" if @sql_id}",
        :max_height => 450
}) %>



<div id="<%= @update_area %>">
</div>
