<%
column_options =
  [
    {:caption=>"Intervall",  :data=>proc{|rec| localeDateTime(rec.begin_interval_time)},         :title=>"Beginn des Intervalls", :plot_master_time=>true},
    {:caption=>"Waits",      :data=>proc{|rec| formattedNumber(rec.waits)},                      :title=>"Anzahl Warte-Ereignisse", :align=>"right"},
    {:caption=>"Timeouts",   :data=>proc{|rec| formattedNumber(rec.timeouts)},                   :title=>"Timeouts", :align=>"right"},
    {:caption=>"Time waited",:data=>proc{|rec| formattedNumber(rec.time_waited_secs, 2)},        :title=>"Gewartete Zeit (sec)", :align=>"right"},
    {:caption=>"Avg. Wait",  :data=>proc{|rec| rec.waits > 0 ? formattedNumber(rec.time_waited_secs*1000/rec.waits.to_f, 2) : ''},  :title=>"Durchschnittliche Wartezeit (Millisekunden)", :align=>"right"},
  ]

%>

<%= gen_slickgrid(@snaps, column_options, {
        :plot_area_id   => "list_system_events_historic_detail_plot_area",
        :caption        =>"System-Event '#{@event_name}' Instance '#{@instance}' von #{@time_selection_start} bis #{@time_selection_end}",
        :max_height     => 450
})
%>

<div id="list_system_events_historic_detail_plot_area">
</div>




