<%

   def link_column(rec, value)
     link_historic_sql_id(rec.instance_number, rec.sql_id, @time_selection_start, @time_selection_end, 'list_segment_stat_hist_detail_sql_area', rec.parsing_schema_name)
   end

column_options =
  [
    {:caption=>"I",             :data=>proc{|rec| rec.instance_number },          :title=>"RAC-Instance"},
    {:caption=>"SQL-ID",        :data=>proc{|rec| link_column(rec, rec.sql_id) }, :title=>"SQL-ID"},
    {:caption=>"SQL Text",      :data=>proc{|rec| rec.sql_text },                 :title=>"SQL-Text"},
    {:caption=>"User",          :data=>proc{|rec| rec.parsing_schema_name },      :title=>"Parsing Schema Name"},
    {:caption=>"Execs",         :data=>proc{|rec| fn(rec.executions) },           :title=>"Anzahl Executions", :align=>:right},
    {:caption=>"Elapsed",       :data=>proc{|rec| fn(rec.elapsed_time_secs, 3) }, :title=>"Elapsed Time in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"Ela./Ex.",      :data=>proc{|rec| fn(rec.elapsed_time_secs_per_execute, 3) },       :title=>"Elapsed Time je Execute in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"CPU",           :data=>proc{|rec| fn(rec.cpu_time_secs, 3) },     :title=>"CPU-Time in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"Disk Reads",    :data=>proc{|rec| fn(rec.disk_reads) },           :title=>"Disk Reads", :align=>:right},
    {:caption=>"Buffer Gets",   :data=>proc{|rec| fn(rec.buffer_gets) },          :title=>"Buffer Gets", :align=>:right},
    {:caption=>"Rows",          :data=>proc{|rec| fn(rec.rows_processed) },       :title=>"Rows Processed", :align=>:right},
 ]

%>
<%= gen_slickgrid(@sqls, column_options, {
    :caption => "Statements aus DBA_Hist_SQLPlan mit '#{@object_name}', Inst_ID=#{@instance}, Von #{@time_selection_start} bis #{@time_selection_end}",
    :max_height=>450
})
%>

<div id="list_segment_stat_hist_detail_sql_area" style="float:left; width:100%; ">
</div>

