<div class="page_caption">Generate genuine Oracle AWR report</div>


<%= form_tag(url_for(:controller=>:dba_history, :action=>:list_awr_report_html), {:method => 'get', :target=>'_blank'}) do %>
    <%= include_start_end_timepicker %>

    <div class="float_left" title="Filter on specific RAC instance (mandatory)">
      Instance
      <%= text_field_tag(:instance, (read_from_client_info_store(:instance).nil? ? 1 : read_from_client_info_store(:instance)), :size=>1) %>
    </div>
    <div class="float_left">
      <%= submit_tag('Generate AWR report', :title =>'Generate AWR-report by executing DBMS_WORKLOAD_REPOSITORY.AWR_REPORT_HTML') %>
    </div>
<% end %>
</div>
