<%
   @update_area = get_unique_area_id

column_options =
  [
    {:caption=>"Operation",             :data=>proc{|rec| rec.operation},                           :title=>'Kind of access'},
    {:caption=>"Options",               :data=>proc{|rec| rec.options},                             :title=>'Access details'},
    {:caption=>"Object_name", :data=>proc{|rec| link_object_description(@update_area, rec.object_owner, rec.object_name) }, :title=>'Object name'},
    {:caption=>"Optimizer",             :data=>proc{|rec| rec.optimizer},                           :title=>'Optimizer mode'},
    {:caption=>"Access",                :data=>proc{|rec| html_escape(rec.access_predicates)},      :title=>'Access criteria'},
    {:caption=>"Filter",                :data=>proc{|rec| html_escape(rec.filter_predicates)},      :title=>'Filter criteria'},
    {:caption=>"Other_Tag",             :data=>proc{|rec| rec.other_tag},                           :title=>"Other_Tag"},
    {:caption=>"Distribution",          :data=>proc{|rec| rec.distribution},                        :title=>"Distribution"},
  ]
%>

<%= gen_slickgrid(@plans, column_options, {
        :max_height => 300, :width=>:auto
})
%>

<div id="<%= @update_area %>" style="clear:both; width:100%; "></div>