<%
    @update_area = get_unique_area_id

    column_options =
    [
      {:caption=>"Name",   :data=>proc{|rec| rec.name}, :title=>"Name of statistic"          },
      {:caption=>"Value",  :data=>proc{|rec| formattedNumber(rec.value) }, :align=>"right", :title=>"Statistic value cumulated since logon of session"        },
    ]

%>
<%= gen_slickgrid(@stats, column_options,
                  {:caption=>"Session-statistics from gv$SessStat for Instance=#{@instance} , SID=#{@sid},<br/> 0-values are suppressed in listing", :width=>:auto}
)%>

<div id="<%= @update_area%>"></div>
