<%
   @update_area = get_unique_area_id

 def link_session(rec)
   my_ajax_link_to(rec.sidsn,
     url_for(:action => "show_session_detail",
             :instance => rec.inst_id,
             :sid      => rec.sid,
             :serialno => rec.serialno,
             :update_area => @update_area
            ),
     :title=> "Anzeige Details zu Session")
 end

 def link_QC_session(rec)
    my_ajax_link_to(rec.qcinst_id ? "#{rec.qcinst_id}:#{rec.qcsid},#{rec.qcserialno}" : "",
      url_for(:action => :show_session_detail,
              :instance => rec.qcinst_id,
              :sid      => rec.qcsid,
              :serialno => rec.qcserialno,
              :update_area => @update_area
             ),
      :title=> "Show details for query coordinator session")
  end

  column_options =
  [
    {:caption=>"I",                :data=>proc{|rec| rec.inst_id},                    :title=>"Instance-ID"},
    {:caption=>"SID/SN",           :data=>proc{|rec| link_session(rec)},              :title=>"SID, SerialNo"},
    {:caption=>"Status",           :data=>proc{|rec| rec.status},                     :title=>"Session-Status"},
    {:caption=>"Wait event",       :data=>proc{|rec| rec.wait_event},                 :title=>'Wait-Event'},
    {:caption=>"W",                :data=>proc{|rec| fn(rec.seconds_in_wait)},        :title=>'Wait time in current event in seconds', :align=>:right},
    {:caption=>"User",             :data=>proc{|rec| rec.username},                   :title=>"Oracle-Username"},
    {:caption=>"Proc",             :data=>proc{|rec| rec.spid},                       :title=>"Prozess-ID Oracle Shadow-Prozess auf DB-Server"},
    {:caption=>"Machine",          :data=>proc{|rec| rec.machine},                    :title=>"Client-Maschine"},
    {:caption=>"C-User",           :data=>proc{|rec| rec.osuser},                     :title=>"Betriebssystem-User der Client-Maschine"},
    {:caption=>"C-Proc",           :data=>proc{|rec| rec.process},                    :title=>"Prozess-ID des Client-Prozesses auf der Client-Maschine (1234 ist Dummy-Prozess-ID von JDBC-Treibern, CONNECTION_PROPERTY_THIN_VSESSION_PROCESS_DEFAULT=1234)"},
    {:caption=>"Program",          :data=>proc{|rec| rec.program},                    :title=>"Ausgeführtes Programm des Client-Prozesses auf der Client-Maschine"},
    {:caption=>"Client-Info",      :data=>proc{|rec| rec.client_info},                :title=>"Client-Info"},
    {:caption=>"Module",           :data=>proc{|rec| rec.module},                     :title=>"Module-Info"},
    {:caption=>"Action",           :data=>proc{|rec| rec.action},                     :title=>"Action-Info"},
    {:caption=>"Service",          :data=>"rec.service_name",                         :title=>"Name des Listener-Service über den Session connected ist"},
    {:caption=>"Last Active Start",:data=>"localeDateTime(rec.last_call)",            :title=>"Beginn der letzten Active-Phase der Session", :data_title=>proc{|rec| "Beginn der letzten Active-Phase der Session, Logon-Time: #{localeDateTime(rec.logon_time)}"}},
    {:caption=>"I/O-Index",        :data=>"formattedNumber(rec.ioindex)",             :title=>"Gewichteter Wert der logischen und physischen I/O der Session", :align=>"right"},
    {:caption=>"Temp",             :data=>"formattedNumber(rec.temp_mb,3)",           :data_title=>'Temp (MB), #{rec.temp_extents} Extents, #{rec.temp_blocks} Blocks', :title=>"Auslagerung in Temp. Tablespace (MB)", :align=>"right"},
    {:caption=>"Long SQL",         :data=>"rec.longsql",                              :title=>"Langlaufendes SQL-Statement"},
    {:caption=>"Open Cursor",      :data=>"formattedNumber(rec.open_cursor)",         :title=>"Anzahl offene Cursor der Session", :align=>"right"},
    {:caption=>"OC SQL",           :data=>"formattedNumber(rec.open_cursor_sql)",     :title=>"Anzahl unterschiedliche SQL-IDs der offenen Cursor der Session", :align=>"right"},
    {:caption=>"P Q",              :data=>"formattedNumber(rec.pqcount)",             :title=>"Anzahl ParallelQuery-Slaves", :align=>"right"},
    {:caption=>"Q C",              :data=>proc{|rec| link_QC_session(rec)},                     :title=>"Parallel query coordinator session (Instance:SID,SerialNo)"},
    {:caption=>"PGA Used",         :data=>"formattedNumber(rec.pga_used_mem/1048576.0, 3)",   :title=>"Aktuell von Prozess genutzter PGA-Memory in MB", :align=>"right"},
    {:caption=>"PGA Alloc.",       :data=>"formattedNumber(rec.pga_alloc_mem/1048576.0, 3)",   :title=>"PGA memory currently allocated by the process (including free PGA memory not yet released to the operating system by the server process) in MB", :align=>"right"},
    {:caption=>"PGA Freea.",       :data=>"formattedNumber(rec.pga_freeable_mem/1048576.0, 3)",:title=>"Aktuell von Prozess alloziierter PGA-Memory der freigegeben werden kann in MB", :align=>"right"},
    {:caption=>"PGA Max",          :data=>"formattedNumber(rec.pga_max_mem/1048576.0, 3)",     :title=>"Maximum PGA memory ever allocated by the process in MB", :align=>"right"},
    {:caption=>"Op-Type",          :data=>"rec.operation_type",                              :title=>"Type of operation using the PGA work area"},
    {:caption=>"Pol.",             :data=>"rec.policy",                                      :title=>"Sizing policy for PGA work area"},
    {:caption=>"Act. Time",        :data=>"formattedNumber(rec.active_time_secs)",           :title=>"Average time this PGA work area is active in seconds", :align=>"right"},
    {:caption=>"Work Area Size",   :data=>"formattedNumber(rec.work_area_size_mb, 3)",       :title=>"Maximum size of the PGA work area as it is currently used by the operation in MB", :align=>"right"},
    {:caption=>"Exp. Size",        :data=>"formattedNumber(rec.expected_size_mb, 3)",        :title=>"Expected size of the PGA work area in MB", :align=>"right"},
    {:caption=>"Actual Size",      :data=>"formattedNumber(rec.actual_mem_used_mb, 3)",      :title=>"Amount of PGA memory currently allocated in MB", :align=>"right"},
    {:caption=>"Max. Size",        :data=>"formattedNumber(rec.max_mem_used_mb, 3)",         :title=>"Maximum memory amount used by this PGA work area in MB", :align=>"right"},
    {:caption=>"P",                :data=>"formattedNumber(rec.number_passes)",              :title=>"Number of passes corresponding to this PGA work area (0 if running in optimal mode)", :align=>"right"},
    {:caption=>"WA Temp",          :data=>"formattedNumber(rec.wa_tempseg_size_mb, 3)",      :title=>"Temporary segment des PGA work area on disk (ausgelagert in Temp-Tablespace) in MB (incl. Parallel Query Prozesse)", :align=>"right"},
  ]

%>

<%= gen_slickgrid(@sessions, column_options, {:caption=> "Sessions", :max_height=>450}) %>

<div id="<%= @update_area %>">
</div>
