<%
column_options =
  [
    {:caption=>"Start_Time",       :data=>proc{|rec| localeDateTime(rec.begin_interval_time) },     :title=>"Start-time of interval", :plot_master=>true, :plot_master_time=>"milliSec1970(rec.begin_interval_time)" },
    {:caption=>"I",                :data=>proc{|rec| rec.instance_number },                         :title=>"RAC-instance"},
    {:caption=>"Total",            :data=>proc{|rec| formattedNumber(rec.log_number) },             :title=>"Total number of redo logs", :align=>:right},
    {:caption=>"Current",          :data=>proc{|rec| formattedNumber(rec.current_no) },             :title=>"Number of redo logs in state 'CURRENT'", :align=>:right},
    {:caption=>"Active",           :data=>proc{|rec| formattedNumber(rec.active_no) },              :title=>"Number of redo logs in state 'ACTIVE' (not completely processed by DB-writer)", :align=>:right},
    {:caption=>"Not archived",     :data=>proc{|rec| formattedNumber(rec.not_archived) },           :title=>"Number of redo logs not yet archived", :align=>:right},
  ]

%>

  <%=
      gen_slickgrid(@redologs, column_options, {
              :caption => "Redologs historic",
              :plot_area => @update_area,
              :max_height => 450,
              :width => :auto
              }
                    )
  %>

<div id="<%= @update_area %>" style="float:left; width:100%;">
</div>

