<h1>Oracle Initialisierungs-Parameter</h1>
<%= @hint %>

<%
column_options =
[
  {:caption=>"I",                :data=>proc{|rec| rec.instance},                       :title=>"Instance-ID"},
  {:caption=>"ID",               :data=>proc{|rec| formattedNumber(rec.id)},            :title=>"Parameter-ID", :align=>"right"},
  {:caption=>"Type",             :data=>proc{|rec| formattedNumber(rec.paramtype)},     :title=>"Parameter-Typ", :align=>"right"},
  {:caption=>"Name",             :data=>proc{|rec| rec.name},                           :title=>"Parameter-Name"},
  {:caption=>"Beschreibung",     :data=>proc{|rec| rec.description},                    :title=>"Parameter-Beschreibung"},
  {:caption=>"Value",            :data=>proc{|rec| rec.value},                          :title=>"Parameter-Wert"},
  {:caption=>"Display-Value",    :data=>proc{|rec| rec.display_value},                  :title=>"Parameter-Wert human readable"},
  {:caption=>"Default",          :data=>proc{|rec| rec.isdefault},                      :title=>"Ist Parameter-Wert noch der Default-Wert"},
]

%>

<%=
    gen_slickgrid(@parameters, column_options, :max_height=>600)
%>


