<%
  @update_area = get_unique_area_id

  def link_column_sid(rec)
    my_ajax_link_to("#{rec.sid},#{rec.serialno}",
                    url_for(:action => "show_session_detail",
                            :instance => rec.inst_id,
                            :sid      => rec.sid,
                            :serialno => rec.serialno,
                            :update_area => @update_area
                           ),
                    :title=> "Anzeige Details zu Session"
                   )
  end

    @temp_size = 0
    @data.each do |rec|
      @temp_size += rec.blocks*session[:database].db_block_size/(1024.0*1024.0)
    end

  column_options =
    [
      {:caption=>"I",           :data=>"rec.inst_id",                              :title=>"RAC-Instance"},
      {:caption=>"SID, SN",     :data=>"link_column_sid(rec)",                     :title=>"SID, Serial-Number"},
      {:caption=>"User",        :data=>"rec.username",                             :title=>"DB-User-Name"},
      {:caption=>"Status",      :data=>"rec.status",                               :title=>"Session-Status"},
      {:caption=>"OS-User",     :data=>"rec.osuser",                               :title=>"OS-User-Name"},
      {:caption=>"Process",     :data=>"rec.process",                              :title=>"OS-Process-ID"},
      {:caption=>"Machine",     :data=>"rec.machine",                              :title=>"Client-Maschine"},
      {:caption=>"Program",     :data=>"rec.program",                              :title=>"Client-Programm"},
      {:caption=>"Last Active", :data=>proc{|rec| localeDateTime(rec.last_call)},  :title=>"Start of last active-state of session"},
      {:caption=>"TS",          :data=>"rec.tablespace",                           :title=>"Tablespace-Name"},
      {:caption=>"Seg.type",    :data=>"rec.segtype",                              :title=>"Segment-Type"},
      {:caption=>"Extents",     :data=>"formattedNumber(rec.extents)",             :title=>"Anzahl Extents",   :align=>"right"},
      {:caption=>"Blocks",      :data=>"formattedNumber(rec.blocks)",              :title=>"Anzahl Blöcke",    :align=>"right"},
      {:caption=>"MB",          :data=>"formattedNumber(rec.blocks*session[:database].db_block_size/(1024.0*1024.0),2)",                               :title=>"Megabytes",        :align=>"right"},
    ]

%>

<%= gen_slickgrid(@data, column_options, {:caption=>"Temp-Segment Usage (#{@temp_size} MB)", :max_height => 450}) %>

<div id="<%= @update_area %>" style="float:left; width:100%;"></div>