<div class="page_caption">Anzeige der relational abhängigen Tabellen einer gegebenen Tabelle</div>

<div id="schema_selection" style="float:left; ">
<%= my_ajax_form_tag url_for(:controller=>:table_dependencies, :action=>:select_schema, :update_area => :table_selection) do %>
    <div class="float_left" title="Auswahl Schema für Tabelle deren abhängige Tabellen gesucht werden">     <!-- special IE-Hack because of bug http://bugs.jqueryui.com/ticket/8798  -->
      <%= collection_select(:all_user, :username, @all_users, :username, :username, {}) %>
    </div>
    <div class="float_left">
      <%= submit_tag("Tabellen anzeigen", :title => "Anzeige der Tabellen des Schemas") %>
    </div>
<% end %>
</div>
<div id="table_selection" style="float:left; ">
</div>
<div id="dependencies" style="clear: both">
</div>



