<td colspan="13">
  <%= @applexecution.application.name %><br/>
  <%= @applexecution.application.description %>
  <br/><br/>
  <a href="#" onclick="jQuery('#<%= @update_area %>').html(''); return false;" title="Schliessen der Anzeige">Schliessen</a>
</td>