
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
	border: 1px solid #333;
	height: 285px;
	overflow: auto;
/*	width: 756px; */
}

/* Reset overflow value to hidden for all non-IE browsers. */
html>body div.tableContainer {
	overflow: hidden;
/*	width: 756px */
}

/* define width of table. IE browsers only                 */
div.tableContainer table {
	float: left;
/*	width: 740px */
}

/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
html>body div.tableContainer table {
/*	width: 756px */
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block
}

/* make the TH elements pretty */
thead.fixedHeader th {
	/* background: #C96; */
	/* border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8; */
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 100%
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%
}

/* make TD elements pretty. Provide alternating classes for striping the table */
/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
/*	border-right: 1px solid #CCC; */
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
/*	border-right: 1px solid #CCC; */
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body thead.fixedHeader th {
	/*width: 100px*/
}

html>body thead.fixedHeader th + th {
	/*width: 100px*/
}
html>body thead.fixedHeader th + th + th {
	/*width: 100px; */
}
html>body thead.fixedHeader th + th + th +th {
	/*width: 456px*/
}

/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body tbody.scrollContent td {
	width: 100px
}

html>body tbody.scrollContent td + td {
	width: 100px
}
html>body tbody.scrollContent td + td + td {
	width: 100px; 
}
html>body tbody.scrollContent td + td + td + td {
	/*width: 440px*/
}

/* add pretty arrows to the headers */
table thead.fixedHeader td, table thead.fixedHeader th {
			background-image:url(../images/ft-head.gif);
			background-repeat:no-repeat;
			background-position:top right;
			border-bottom:1px solid #333; 
}
		
table thead td.selectedUp, table thead th.selectedUp {
			background-image:url(../images/ft-headup.gif);
}
table thead.fixedHeader td.selectedDown, table thead.fixedHeader th.selectedDown {
			background-image:url(../images/ft-headdown.gif);
}
/* table tbody tr.alternateRow td{
	background: #e3edfa;
} */
table tbody.scrollContent tr.alternateRow td{
	background: #e3edfa;
}
table tbody.scrollContent tr.selected td{
	background: yellow;
}
table tbody.scrollContent tr:hover td{
	background: #a6c2e7;
}
table tbody.scrollContent tr.selected:hover td{
	background:#ff9;
}
