/* Aktive Zeile des SlickGrid einfärben */
.slick-row.active
{
    background: #d8d8d8;
}


/* Zeile des slickGrid */
.slick-row {
}


/* Zelle des slickGrid */
.slick-cell {
    padding-top: 2px;                                                           /* muss identisch sein zwischen slick-cell und slick-inner-cell */
    padding-bottom: 3px;                                                        /* muss identisch sein zwischen slick-cell und slick-inner-cell */
}

.even {
    background: none repeat scroll 0 0 #F6F6F6;
}

.odd {
    background: none repeat scroll 0 0 #F0F0F0;
}


/* eigener DIV innerhalb der Zelle des slickGrid, füllt parent komplett aus */
.slick-inner-cell {
    font-family: sans-serif;
    font-size: 12px;
    overflow: hidden;
    width:100%;
    height:100%;
    padding-top: 2px;                                                           /* muss identisch sein zwischen slick-cell und slick-inner-cell */
    padding-bottom: 3px;                                                        /* muss identisch sein zwischen slick-cell und slick-inner-cell */
}

.slick-caption {
    text-align: center;
    background: url(greychrome.gif) repeat-x scroll left top #FFFFFF;
    width:100%;
    margin-top:10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Übersteuern Struktur eines slick-Spaltenheaders */
.ui-state-default .slick-header-column {
    background: url(greychrome.gif) repeat-x scroll left top #FFFFFF;
    font-family: sans-serif;
    font-size: small;
    text-overflow: clip;
    white-space: normal;
}

/* Übersteuern Default für Header-Zeile mit Inputs für Such-Strings */
.slick-headerrow-column.ui-state-default {
    padding: 2px;
}

/* Legende von Diagrammen */
table.legend_table, table.legend_table th, table.legend_table td {
    background: none repeat scroll 0 0 #EEEEEE;
    font-size: 85%;
    border: 1px solid #666666;
    border-collapse: collapse;
}

.slick-shadow {
    box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
}


