<h1>Panorama</h1>
<h3>Analyse-Werkzeug für Oracle-Datenbanken mit Fokus auf DBA und Software-Entwickler</h3>
<B>
  Bietet Unterstützung für:
  <ul>
    <li>Performance-Optimierung von Applikationen</li>
    <li>Analyse von Laufzeiten und Wartezust&auml;nden</li>
    <li>Aufbereitung der internen Informationen von Oracle-DB</li>
    <li>Unterstützt Oracle-Versionen 10g bis 12c</li>
  </ul>
</B>
<BR>

<h3><%= t :env_licensing_header, :default=>"Licensing" %></h3>
<%= render :partial => 'licensing' %>
<span style="color:red;">Teile der Anwendung erfordern Lizensierung des "Oracle Diagnostics Pack" der Oracle-DB !</span><BR><BR>

Der zur Anmeldung genutzte Oracle-User benötigt das Recht "SELECT ANY DICTIONARY".<BR><BR>

Panorama erfordert einen modern Browser, besonders IE > 8<BR><BR>

Bug-Reports, Hinweise und Erweiterungswünsche bitte per Mail an:<BR> <a href="mailto:Peter@ramm-oberhermsdorf.de">Peter@ramm-oberhermsdorf.de</a><BR><BR>
<%= "#{Panorama::RELEASE_DAY}.#{Panorama::RELEASE_MONTH}.#{Panorama::RELEASE_YEAR}" %> Version <%= Panorama::VERSION %><BR>
Peter Ramm<BR>
