<%
   @update_area = get_unique_area_id

   def link_audits_total(rec)
     ajax_link(fn(rec.audits), {
                             :controller      => :dba_schema,
                             :action          => :list_audit_trail,
                             :time_selection_start  => localeDateTime(rec.begin_timestamp, :minutes),
                             :time_selection_end    => localeDateTime(rec.max_timestamp, :minutes),
                             instance:        @instance,
                             audit_type:      @audit_type,
                             :session_id      => @session_id,          # optionaler Filter
                             :os_user         => @os_user,             # optionaler Filter
                             :db_user         => @db_user,             # optionaler Filter
                             :machine         => @machine,             # optionaler Filter
                             :object_name     => @object_name,         # optionaler Filter
                             :statement_type  => @statement_type,         # optionaler Filter
                             :update_area     => @update_area
                     },
                     :title=> 'Show single audit records of time period')

   end

   def link_group(rec, value, filter_name, filter_value)
     ajax_link(fn(value), {
                             :controller      => :dba_schema,
                             :action          => :list_audit_trail,
                             :time_selection_start  => localeDateTime(rec.begin_timestamp, :minutes),
                             :time_selection_end    => localeDateTime(rec.max_timestamp, :minutes),
                             :grouping        => @grouping,
                             :top_x           => @top_x,
                             instance:        @instance,
                             audit_type:      @audit_type,
                             :session_id      => @session_id,          # optionaler Filter
                             :os_user         => @os_user,             # optionaler Filter
                             :db_user         => @db_user,             # optionaler Filter
                             :machine         => @machine,             # optionaler Filter
                             :object_name     => @object_name,         # optionaler Filter
                             :statement_type  => @statement_type,         # optionaler Filter
                             filter_name      => filter_value,
                             :update_area     => @update_area
                     },
                     :title=> 'Add this criteria and time period to filter conditions and show grouped values again')

   end


   column_options = []
   column_options << {:caption=> 'Time',              :data=>proc{|rec| localeDateTime(rec.begin_timestamp)},     :title=> 'Begin of time period', :plot_master_time=>true}
   column_options << {:caption=> 'Audits Total',      :data=>proc{|rec| link_audits_total(rec)},                           :title=> 'Total number of audit records'}
   @machines.each do |m|
     column_options << {:caption=> "Machine: #{m[:machine]}", :data=>proc{|rec| link_group(rec, rec[:machines][m[:machine]], :machine, m[:machine])},     :title=> 'Number of audit records for machine'}
   end
   @os_users.each do |m|
     column_options << {:caption=> "OS-User: #{m[:os_user]}", :data=>proc{|rec| link_group(rec, rec[:os_users][m[:os_user]], :os_user, m[:os_user])},     :title=> 'Number of audit records for operating system user'}
   end
   @db_users.each do |m|
     column_options << {:caption=> "DB-User: #{m[:db_user]}", :data=>proc{|rec| link_group(rec, rec[:db_users][m[:db_user]], :db_user, m[:db_user])},     :title=> 'Number of audit records for database user'}
   end
   @actions.each do |m|
     column_options << {:caption=> "Action: #{m[:statement_type]}", :data=>proc{|rec| link_group(rec, rec[:actions][m[:statement_type]], :statement_type, m[:statement_type])},     :title=> 'Number of audit records for action'}
   end


%>

<%=
    caption = "Audit-Records per '#{@grouping}' from DBA_Common_Audit_Trail"
    caption << ", from #{@time_selection_start} until #{@time_selection_end}" if @time_selection_start && @time_selection_end
    caption << ", Instance=#{@instance}"            if @instance
    caption << ", Audit type=#{@audit_type}"        if @audit_type
    caption << ", Session-ID=#{@session_id}"        if @session_id
    caption << ", OS-User LIKE '#{@os_user}'"       if @os_user
    caption << ", DB-User LIKE '#{@os_user}'"       if @db_user
    caption << ", Machine LIKE '#{@machine}'"       if @machine
    caption << ", Object LIKE '#{@object_name}'"    if @object_name
    caption << ", Action LIKE '#{@statement_type}'" if @statement_type

    gen_slickgrid(@audits, column_options, {
            :caption => caption,
            :max_height => 450,
            :multiple_y_axes => false
    })
%>
<div id="<%= @update_area %>"></div>