<% @update_area = get_unique_area_id %>

<%
  link_grantee = proc do |rec|
    case rec.grantee_type
    when 'USER' then
      ajax_link(rec.grantee,
                {action:      :list_db_users,
                 username:    rec.grantee,
                 update_area: @update_area,
                },
                title: "Show details for user '#{rec.grantee}'"
      )
    when 'ROLE' then
      ajax_link(rec.grantee,
                {action:      :list_roles,
                 role:        rec.grantee,
                 update_area: @update_area,
                },
                title: "Show details for role '#{rec.grantee}'"
      )
    else rec.grantee
    end
  end

  link_granted_role = proc do |rec|
    ajax_link(rec.granted_role,
              {action:      :list_roles,
               role:        rec.granted_role,
               update_area: @update_area,
              },
              title: "Show details for role '#{rec.granted_role}'"
    )
  end

  column_options = []
  column_options << {caption: 'Grantee',      data: link_grantee,                             title: 'Name of the user or role receiving the grant'}
  column_options << {caption: 'Grantee type', data: proc{|rec| rec.grantee_type},             title: 'Type of grantee'}
  column_options << {caption: 'Granted role', data: link_granted_role,                        title: "Granted role name"}
  column_options << {caption: 'Admin option', data: proc{|rec| rec.admin_option},             title: "Indicates whether the grant was with the ADMIN OPTION (YES) or not (NO)"}
  column_options << {caption: 'Delegate option', data: proc{|rec| rec.delegate_option},       title: "Indicates whether the grant was with the DELEGATE OPTION (YES) or not (NO)"} if get_db_version >= '12.1'
  column_options << {caption: 'Default role', data: proc{|rec| rec.default_role},             title: "Indicates whether the role is designated as a DEFAULT ROLE for the user (YES) or not (NO)"}
  column_options << {caption: 'Common',       data: proc{|rec| rec.common},                   title: "Indicates whether a given role is common. Possible values:\nYES if the role is common\nNO if the role is local (not common)"} if get_db_version >= '12.1'
  column_options << {caption: 'Inherited',    data: proc{|rec| rec.inherited},                title: 'Indicates whether the role was inherited from another container (YES) or not (NO)'} if get_db_version >= '18.1'
%>

<%= gen_slickgrid(@role_grants, column_options, {caption: "Granted DB roles from DBA_Role_Privs for #{"Role='#{@role}'" if @role}#{"Grantee='#{@grantee}'" if @grantee}", max_height: 450, show_pin_icon: 1}) %>

<div id="<%= @update_area %>"></div>
