<%
  # @update_area is set outside if called from show_audit_rules inside a flex-row-element
  @update_area=get_unique_area_id if !defined?(@update_area) || @update_area.nil?

  link_policy_count = proc do |rec|
    ajax_link(fn(rec.policy_count), {
      action:       :list_audit_unified_policies,
      policy_name:  rec.policy_name,
      object_type:  @object_type,
      owner:        @owner,
      object_name:  @object_name,
      update_area:  @update_area
    }, title: "Show the #{fn(rec.policy_count)} policies from Audit_Unified_Policies" )
  end
  column_options =
    [
      {caption: 'Policy',         data: proc{|rec| rec.policy_name },                           title: 'Name of the audit policy'},
      {caption: 'Enabled option', data: proc{|rec| rec.enabled_option},                         title: "Enabled option of the audit policy. Possible values:\nBY USER: For policies that are enabled on users\nEXCEPT USER: For policies that are enabled on users\nBY GRANTED ROLE: For policies that are enabled on roles\nINVALID: For policies that are not enabled on either users or roles\nNO: Not enabled on any user or role (Records in Audit_Unified_Policies only)"},
      {caption: 'Entity name',    data: proc{|rec| rec.entity_name},                            title: "Database entity (user name or role name) on which the audit policy is enabled.\nWhen an audit policy is enabled on all database users, ALL USERS is displayed in this column."},
      {caption: 'Entity type',    data: proc{|rec| rec.entity_type},                            title: "Database entity type. Possible values:\nUSER: Indicates that the policy is enabled on a user or users.\nROLE: Indicates that the policy is enabled on a role or roles."},
      {caption: 'Success',        data: proc{|rec| rec.success},                                title: 'Indicates whether the audit policy is enabled for auditing successful events (YES) or not (NO)'},
      {caption: 'Failure',        data:  proc{|rec| rec.failure},                               title: 'Indicates whether the audit policy is enabled for auditing unsuccessful events (YES) or not (NO)'},
      {caption: 'Policy count',   data:  link_policy_count,                                     title: 'Number of unified audit policies in Audit_Unified_Policies', align: :right},
      {caption: 'Comment',        data:  proc{|rec| rec.comments},                              title: 'Comment from  Audit_Unified_Policy_Comments'},
    ]
%>

<%=
  gen_slickgrid(@audit_unified_enabled_policies, column_options, {
    :caption    => 'Unified audit policies from Audit_Unified_Enabled_Policies',
    :max_height => 250,
    :width      => :auto,
    show_pin_icon: @show_pin_icon,
  })
%>

<% if @show_pin_icon != 3 # called from show_audit_rules inside a flex-row-element with it's own update area %>
  <div id="<%= @update_area %>"></div>
<% end %>

