<%
  @update_area = get_unique_area_id

  def link_owner(value, rec)
    my_ajax_link_to(value,
                    url_for(
                      :action       => :list_object_description,
                      :owner        => rec.owner,
                      :segment_name => rec.object_name,
                      :object_type  => rec.object_type,
                      :update_area  => @update_area
                    ),
                    :title => "Show description of database object #{rec.object_type} #{rec.owner}.#{rec.object_name}"
    )
  end

  column_options =
  [
    {:caption=> 'Object type',         :data=>proc{|rec| rec.object_type},           :title=> 'Object_Type of object'},
    {:caption=> 'Owner',               :data=>proc{|rec| rec.owner},                 :title=> 'Owner of object'},
    {:caption=> 'Object name',         :data=>proc{|rec| link_owner(rec.object_name, rec)},           :title=> 'Name of object'},
  ]
%>

<%= gen_slickgrid(@objects, column_options, {
                                  :caption => "Object #{@segment_name} exists in multiple schemas, please select",
                                  :height => :auto, :width=>:auto
                          })
%>
<div style="padding-top: 10px;" id="<%= @update_area %>"></div>
