<%=
    @update_area = get_unique_area_id
    column_options =
            [
                    {:caption=> 'Referencing table owner',     :data=>proc{|rec| rec.owner},                       :title=> 'Owner of referencing table'},
                    {:caption=> 'Referencing table name', :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.table_name, rec.table_name) }, :title=> 'Name of referencing table'},
                    {:caption=> 'Referencing constraint name', :data=>proc{|rec| rec.constraint_name},             :title=> 'Referencing constraint name'},
                    {:caption=> 'Referencing columns',         :data=>proc{|rec| rec.columns},                     :title=> 'Referencing column names'},
                    {:caption=> 'Referenced constraint name',  :data=>proc{|rec| rec.r_constraint_name},           :title=> 'Constraint name'},
                    {:caption=> 'Referenced columns',          :data=>proc{|rec| rec.r_columns},                   :title=> 'Column names of referenced table'},
                    {:caption=> 'Delete rule',                 :data=>proc{|rec| rec.delete_rule},                 :title=> 'Delete rule'},
                    {:caption=> 'Status',                      :data=>proc{|rec| rec.status},                      :title=> 'Status'},
                    {:caption=> 'Deferred',                    :data=>proc{|rec| rec.deferred},                    :title=> 'Deferred-Status'},
                    {:caption=> 'Validated',                   :data=>proc{|rec| rec.validated},                   :title=> 'Validate status'},
                    {:caption=> 'Num. rows',                   :data=>proc{|rec| fn(rec.num_rows)},                :title=> 'Number of rows of referencing table', :align=>:right},
                    {:caption=> 'Last change',                 :data=>proc{|rec| localeDateTime(rec.last_change)}, :title=> 'Date of last change'},
            ]

    gen_slickgrid(@referencing, column_options, {
                                      :caption => "Foreign keys referencing to  #{@table_type} #{@owner}.#{@table_name}",
                                      :max_height => 450
                              })
%>


<div id="<%= @update_area %>"></div>