<%
  @update_area = get_unique_area_id


  column_options =
  [
    {:caption=> 'TS',                :data=>proc{|rec| rec.tablespace_name},                     :title=> 'Tablespace-Name'},
    {:caption=> 'Schema',            :data=>proc{|rec| rec.owner},                               :title=> 'Schema-Name'},
    {:caption=> 'Name',              :data=>proc{|rec| link_table_structure(@update_area, rec.owner, rec.segment_name, rec.segment_name_qual)}, :title=> 'Object-Name'},
    {:caption=> 'Partition',         :data=>proc{|rec| rec.partition_name},                      :title=> 'Partition-Name bzw. Anzahl Partitionen'},
    {:caption=> 'Type',              :data=>proc{|rec| rec.segment_type},                        :title=> 'Object-Typ'},
    {:caption=> 'Used Ext',          :data=>proc{|rec| fn(rec.used_ext)},        :align=>:right, :title=> 'Genutzte Anzahl Extents'},
    {:caption=> 'MBytes',            :data=>proc{|rec| fn(rec.mbytes)},          :align=>:right, :title=> 'Größe der Extents im Tablespace in MBytes',  :show_pct_hint=>proc{|rec| rec.mbytes}},
    {:caption=> 'NumRows',           :data=>proc{|rec| fn(rec.num_rows)},        :align=>:right, :title=> 'Anzahl Rows lt. letzter Analyse'},
    {:caption=> 'Rowlen',            :data=>proc{|rec| fn(rec.avg_rowlen)},      :align=>:right, :title=> 'Durchschn. Größe eines Records lt. letzter Analyse (Avg_Row_Len für Table, Summe Avg_Col_Len + RowID für Indizes)'},
    {:caption=> '% Ungen.',          :data=>proc{|rec| fn(rec.percent_free)},    :align=>:right, :title=> 'Ungenutzter Platz innerhalb der Extents in %. Ermittelt aus Extents - (Avg_Row_Len*Num_Rows)'},
    {:caption=> 'MBytes Ungen. ARL', :data=>proc{|rec| fn(rec.mbytes_free_avg_row_len)}, :align=>:right, :title=> 'Ungenutzter Platz innerhalb der Extents in MBytes. Ermittelt aus Extents - (Avg_Row_Len*Num_Rows)'},
    {:caption=> 'Blocks empty',      :data=>proc{|rec| fn(rec.empty_blocks)},    :align=>:right, :title=> 'Ungenutzter Blöcke laut empty_blocks'},
    {:caption=> 'Avg. Space',        :data=>proc{|rec| fn(rec.avg_space)},       :align=>:right, :title=> 'Durchschn. ungenutzte Bytes je Block laut analyze-Info avg_space'},
    {:caption=> 'Analyzed',          :data=>proc{|rec| localeDateTime(rec.last_analyzed)},       :title=> 'Zeitpunkt der letzten Analyse'},
  ]
%>

<%= gen_slickgrid(@objects, column_options, {
        :caption => "Objekte des Tablespace #{@tablespace_name}, Schema #{@schema_name}",
        :max_height => 450
})
%>


<div id="<%= @update_area %>"></div>