<%
  @update_area = get_unique_area_id

  link_real_num_rows = proc do |rec|
    update_area = "#{@update_area}_num_rows_#{rec.subpartition_name}"
    ajax_link(rec.num_rows ? fn(rec.num_rows) : "[No analyze]", {
                            :controller      => :storage,
                            :action          => :list_real_num_rows,
                            :owner           => @owner,
                            :name            => @table_name,
                            :subpartition_name  => rec.subpartition_name,
                            :update_area     => update_area
                           },
                    :title=>"Count current number of rows in partition. CAUTION: May be long running!")+"<br><div id=\"#{update_area}\"></div>".html_safe
  end

  mb_used = proc do |rec|
    rec.avg_row_len.to_f * rec.num_rows / (1024*1024) rescue nil
  end

  list_percent_unused = proc do |rec|
    fn(100 - (mb_used.call(rec) * 100 / rec.size_mb), 1) rescue nil
  end

  list_states = proc do |rec|
    result = ''
    result << "#{'<br/>' if result.length > 0}Compression = #{rec.compression}#{" (#{rec.compress_for})" if get_db_version >= '11.2'}"    if !(rec.compression.nil? || rec.compression == 'DISABLED' || rec.compression == 'N/A' || rec.compression == 'NONE')
    result << "#{'<br/>' if result.length > 0}InMemory = #{rec.inmemory}"                                                                 if get_db_version >= '12.1' && !(rec.inmemory == 'DISABLED' || rec.inmemory == 'N/A')
    result << "#{'<br/>' if result.length > 0}Flash Cache = #{rec.flash_cache}"                                                           if get_db_version >= '12.1' && !(rec.flash_cache.nil? || rec.flash_cache == 'DEFAULT')
    result << "#{'<br/>' if result.length > 0}Cell Flash Cache = #{rec.cell_flash_cache}"                                                 if get_db_version >= '12.1' && !(rec.cell_flash_cache.nil? || rec.cell_flash_cache == 'DEFAULT')
    result.html_safe
  end

  title_states = "Special states of table (shown only if not default):
- Compression of partition
- InMemory
- Smart flash cache
- Cell flash cache
"

  list_rac_master = proc do |rec|
    if rec.current_master
      ajax_link(rec.current_master,
               {controller:     :dba_waits,
                action:         :list_drm_historic_single_records,
                owner:          @owner,
                object_name:    @table_name,
                subobject_name: rec.subpartition_name,
                update_area:    @update_area,
               },
               :title=>"List dynamic remastering events for this object"
      )
    else
      'No info'
    end
  end

  data_title_rac_master = proc do |rec|
    title = "%t"
    if rec.current_master
      if rec.previous_master == 32768
        title << "\nNo previous master instance because no remastering happened"
      else
        title << "\nPrevious master instance = #{rec.previous_master}"
      end
      title << "\nGC mastering policy = #{rec.gc_mastering_policy}"
      title << "\nNumber of remastering events = #{rec.remaster_cnt}"
    end
    title
  end

  link_space_usage = proc do |rec, value|
    ajax_link(value,
                            {:action       => :list_space_usage,
                             :owner        => @owner,
                             :segment_name => @table_name,
                             partition_name:  rec.subpartition_name,
                             :update_area  => @update_area,
                            },
                    :title=>"Show space usage for #{@owner}.#{@table_name} from DBMS_SPACE.SPACE_USAGE"
      )
  end

  link_last_analyzed = proc do |rec|
    ajax_link(localeDateTime(rec.last_analyzed),
              {:action      => :list_gather_table_historic,
               :owner       => @owner,
               :table_name  => @table_name,
               partition_name: rec.subpartition_name,
               :update_area => @update_area,
              },
              :title=>'Show historic gather_table_stats-operations for table-subpartition'
    )
  end

  blocks_data_title = proc do |rec|
    "\n\nNumber of used blocks below high water mark = #{fn(rec.blocks)}\nNumber of allocated blocks in segments = #{fn(rec.segment_blocks)} "
  end

  link_extents = proc do |rec|
    ajax_link(fn(rec.extents),
              {:controller    => :storage,
               :action        => :list_object_extents,
               :owner         => @owner,
               :segment_name  => @table_name,
               partition_name: rec.subpartition_name,
               :update_area   => @update_area,
              },
              :title=>"List distribution of storage extents for table subpartition. Caution: Execution may last some time!"
    )
  end

  column_options =
            [
                    {:caption=> 'Sub-part. name',         :data=>proc{|rec| rec.subpartition_name},            :title=> 'Sub-partition name'},
                    {:caption=> 'Part. name',             :data=>proc{|rec| rec.partition_name},               :title=> 'Partition name'},
                    {:caption=> 'High value',             :data=>proc{|rec| rec.high_value},                   :title=> 'Subpartition bound value expression', data_title: proc{|rec| "%t\nHigh value of associated partition = '#{rec.partition_high_value}'"}},
                    {:caption=> 'Pos.',                   :data=>proc{|rec| fn rec.subpartition_position},     :title=> 'Position of the sub-partition within the table', :align=>:right},
                    {:caption=> 'Tablespace',             :data=>proc{|rec| rec.tablespace_name},              :title=> 'Name of the tablespace containing the partition'},
                    {:caption=> 'Pct. free',              :data=>proc{|rec| fn rec.pct_free},                  :title=> 'Minimum percentage of free space in a block', :align=>:right},
                    {:caption=> 'Ini. trans',             :data=>proc{|rec| fn rec.ini_trans},                 :title=> 'Initial number of transactions', :align=>:right},
                    {:caption=> 'Ini. ext. (KB)',         :data=>proc{|rec| fn rec.initial_extent/1024 rescue nil}, :title=> 'Initial extent size in kByte', :align=>:right},
            ]

    column_options.concat [
        {:caption=> 'Num. rows',              :data=>link_real_num_rows,                           :title=> 'Number of rows in the partition', :align=>:right},
        {:caption=> 'Size (MB)',              :data=>proc{|rec| link_space_usage.call(rec, fn(rec.size_mb,2))}, :title=> 'Current object size in megabytes', :align=>:right, data_title: proc{|rec| "%t\n#{size_explain(rec.size_mb)}#{blocks_data_title.call(rec)}"}},
        {:caption=> 'Ext.',                   data: link_extents,                                  :title=> 'Number of extents (from DBA_Segments)', :align=>:right, data_title: proc{|rec| "%t#{blocks_data_title.call(rec)}"} },
        {:caption=> '% unused',               :data=>list_percent_unused,                          :title=> "Unused storage of table subpartition within extents in percent.\nCalculated by size of all allocated extents - (Avg_Row_Len * Num_Rows)\nAlso includes the free space in blocks according to PCT_FREE\nMay be negative e.g. for compressed tables", data_title: proc{|rec| "%t\n\nCorrelating unused space in MB = #{fn(rec.size_mb - mb_used.call(rec), 2) rescue nil}"}, :align=>:right},
        {:caption=> 'Avg. row len',           :data=>proc{|rec| fn rec.avg_row_len},               :title=> 'Average length of a row in the partition (in bytes)', :align=>:right},
        {:caption=> 'Created',                :data=>proc{|rec| localeDateTime(rec.created)},      :title=> 'Timestamp of subpartition creation'},
        {:caption=> 'Last DDL',               :data=>proc{|rec| localeDateTime(rec.last_ddl_time)},:title=> 'Timestamp of last DDL operation on table subpartition'},
        { caption: 'Spec. TS',                 data: proc{|rec| localeDateTime(rec.spec_ts)},      title: "Timestamp for the last specification change of the table subpartition" },
        {:caption=> 'Last analyzed',          :data=>link_last_analyzed,                           :title=> 'Date on which this partition was most recently analyzed'},
        {:caption=> 'Log.',                   :data=>proc{|rec| rec.logging},                      :title=> "Indicates whether or not changes to the table are logged in Redo-Log" },
                          ]
    column_options << {:caption=> 'Inserts',          :data=>proc{|rec| fn rec.inserts},                  :title=> "Number of insert-operations since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here.", :align=>:right}
    column_options << {:caption=> 'Updates',          :data=>proc{|rec| fn rec.updates},                  :title=> "Number of update-operations since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here.", :align=>:right}
    column_options << {:caption=> 'Deletes',          :data=>proc{|rec| fn rec.deletes},                  :title=> "Number of delete-operations since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here.", :align=>:right}
    column_options << {:caption=> 'Trunc.',           :data=>proc{|rec| rec.truncated},                   :title=> "Has table been truncated since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here."}  if get_db_version >= '11.2'
    column_options << {:caption=> 'Drop seg.',        :data=>proc{|rec| fn rec.drop_segments},            :title=> "Number of partition and subpartition segments dropped since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here.", :align=>:right}
    column_options << {:caption=> 'Last DML',         :data=>proc{|rec| localeDateTime(rec.last_dml)},    :title=> "Timestamp of last DML-operations since last table analysis if table has MONITORING-flag.\nStatistics are populated in memory by database. Run the DBMS_STATS.FLUSH_DATABASE_MONITORING_INFO to see the latest information here."}
    column_options << {:caption=> 'Several States',   :data=>list_states,                                 :title=> title_states}
    column_options << {:caption=> 'RAC master inst.', :data=>list_rac_master,                             :title=> "Current master instance for cache block states in RAC", data_title: data_title_rac_master} if PanoramaConnection.rac?

%>

<%=

    gen_slickgrid(@subpartitions, column_options, {
                                     :caption => "Sub-partitions of table #{@owner}.#{@table_name}#{", partition '#{@partition_name}'" if @partition_name}, #{@partition_expression}",
                                     :max_height => 450, show_pin_icon: 1
                             })
%>

<div id="<%= @update_area %>"></div>