<%
   @update_area = get_unique_area_id

   column_options =
       [
           {:caption=> 'Operation',        :data=>proc{|rec| rec.operation},                   :title=> 'Operation name'},
           {:caption=> 'Target',           :data=>proc{|rec| rec.target},                      :title=> 'Target on which the operation was performed'},
           {:caption=> 'Start time',       :data=>proc{|rec| localeDateTime(rec.start_time) }, :title=> 'Start time of analyze operation'},
           {:caption=> 'End time',         :data=>proc{|rec| localeDateTime(rec.end_time) },   :title=> 'End time of analyze operation'},
           {:caption=> 'Duration (Sec.)',  :data=>proc{|rec| fn(rec.duration,2)},              :title=> 'Duration of operation in seconds', :align=>:right},
       ]

%>

<%= gen_slickgrid(@operations, column_options, {
    :caption => "GATHER_TABLE_STATS-operations for #{@owner}.#{@table_name} from sys.WRI$_OPTSTAT_OPR",
    :max_height => 250
})
%>

<%
   column_options =
       [
           {:caption=> 'Sub-object name',     :data=>proc{|rec| rec.subobject_name},               :title=> 'Name of subobject if partitioned'},
           {:caption=> 'Analyze time',        :data=>proc{|rec| localeDateTime(rec.savtime) },     :title=> 'Time of analyze operation'},
           {:caption=> 'Row count',           :data=>proc{|rec| fn(rec.rowcnt)},                   :title=> 'Number of rows at analyze time', :align=>:right},
           {:caption=> 'Block count',         :data=>proc{|rec| fn(rec.blkcnt)},                   :title=> 'Number of blocks at analyze time', :align=>:right},
           {:caption=> 'Avg. row len',        :data=>proc{|rec| fn(rec.avgrln)},                   :title=> 'Average row len at analyze time', :align=>:right},
           {:caption=> 'Prev. Analyze time',  :data=>proc{|rec| localeDateTime(rec.analyzetime) }, :title=> 'Time of previous analyze operation'},
       ]

%>

<%= gen_slickgrid(@tab_history, column_options, {
    :caption => "GATHER_TABLE_STATS-operations for #{@owner}.#{@table_name} from sys.WRI$_OPTSTAT_TAB_HISTORY",
    :max_height => 250
})
%>

<div id="<%= @update_area %>"></div>