<% @update_area = get_unique_area_id %>


<%
  def link_depending_objects(rec)
    my_ajax_link_to(fn(rec.depending),
                    url_for({:action         => :list_dependencies,
                             :owner          => rec.owner,
                             :object_name    => rec.name,
                             :object_type    => rec.type,
                             :update_area    => @update_area,
                            }),
                    :title=>"Show object dependencies for #{rec.type} #{rec.owner}.#{rec.name}"
    )
  end


  def link_objects_depending(rec)
    my_ajax_link_to(fn(rec.depending),
                    url_for({:action         => :list_dependencies,
                             :owner          => rec.referenced_owner,
                             :object_name    => rec.referenced_name,
                             :object_type    => rec.referenced_type,
                             :update_area    => @update_area,
                            }),
                    :title=>"Show object dependencies for #{rec.referenced_type} #{rec.referenced_owner}.#{rec.referenced_name}"
    )

  end

  column_options_from_me =
      [
          {:caption=> 'Depending object',      :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.name, nil, rec.type)},             :title=> 'Object that is depending from me'},
          {:caption=> 'Type',                  :data=>proc{|rec| rec.type},                                                               :title=> 'Type of object that is depending from me'},
          {:caption=> 'Link',                  :data=>proc{|rec| rec.referenced_link_name},                                               :title=> 'Name of the link to the parent object (if remote)'},
          {:caption=> 'Dependency type',       :data=>proc{|rec| rec.dependency_type},                                                    :title=> 'Whether the dependency is a REF dependency (REF) or not (HARD)'},
          {:caption=> 'Depending objects',     :data=>proc{|rec| link_depending_objects(rec)},                                            :title=> 'Number of objects that are dependent from this object', :data_title=>proc{|rec| "%t #{rec.owner}.#{rec.name}"}},
      ]


  column_options_im_from =
  [
      {:caption=> 'Object dependency',     :data=>proc{|rec| link_object_description(@update_area, rec.referenced_owner, rec.referenced_name, nil, rec.referenced_type)}, :title=> "Object I'm depending from"},
      {:caption=> 'Type',                  :data=>proc{|rec| rec.referenced_type},                                                               :title=> "Type of the object I'm depending from"},
      {:caption=> 'Link',                  :data=>proc{|rec| rec.referenced_link_name},                                                          :title=> 'Name of the link to the parent object (if remote)'},
      {:caption=> 'Dependency type',       :data=>proc{|rec| rec.dependency_type},                                                               :title=> 'Whether the dependency is a REF dependency (REF) or not (HARD)'},
      {:caption=> 'Objects depending from',:data=>proc{|rec| link_objects_depending(rec)},                                                       :title=> 'Number of objects this object is depending from', :data_title=>proc{|rec| "Number of objects this object #{rec.owner}.#{rec.name} is depending from "}},
  ]


%>

<div class="float_left">
  <%=
    gen_slickgrid(@dependencies_from_me, column_options_from_me, {
        :caption => "Objects that are depending from #{@object_type} #{@owner}.#{@object_name}",
        :max_height => 450, :width=>:auto
    })
  %>
</div>
<div class="float_left">
  <%=

    gen_slickgrid(@dependencies_im_from, column_options_im_from, {
        :caption => "Objects, #{@object_type} #{@owner}.#{@object_name} depends from",
        :max_height => 450, :width=>:auto
    })
  %>
</div>


<div style="clear: both" id="<%= @update_area %>"></div>
