.etabs {
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    zoom:1;
    *display:inline;
    background: #ccc;
    border: solid 1px #999;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.tab a {
    /*font-size: 14px;*/
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}
.tab a:hover {
    text-decoration: underline;
}
.tab.active {
    background: #eee;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #666; }
.tab a.active {
    font-weight: bold;
}
.tab-container .panel-container {

    background:#eee;
/*    background: #fff; */
    border: solid #666 1px;
    padding: 2px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}

.tab-inner-frame {
    background:#ced8f6;
    padding: 2px;
}