/*
 Überschreiben von Default-Einstellungen diverser plugins
*/
table a:link{
	color:#2E64FE;
}

.ui-widget-content a {
    color:#2E64FE;
}


.white-space-wrap {
    white-space: normal;
}

.white-space-nowrap {
    white-space: nowrap;
}



.align-right {
    text-align: right;
}


/* Uebersteuern jquery-ui */
.tooltip_class {
    background-image: none;
    background-color: lightyellow;
    font-size: x-small;
    max-width: 800px;
    white-space: pre-line;  /* Erlaubt Linefeed im Tooltip */
}