<%
   @update_area = get_unique_area_id

column_options =
  [
    {:caption=>"Object", :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.object_name, "#{rec.owner} . #{rec.object_name} #{rec.subobject_name ? "(#{rec.subobject_name})" : ""}") }, :title=>"Object-Owner, Name, Partition-Name (optional)"},
    {:caption=>"Log.Rd.",       :data=>proc{|rec| fn(rec.logical_reads_delta)},                 :title=>"Logical Reads", :align=>:right},
    {:caption=>"BBW",           :data=>proc{|rec| fn(rec.buffer_busy_waits_delta) },            :title=>"Buffer Busy Waits", :align=>:right},
    {:caption=>"Bl.Chg.",       :data=>proc{|rec| fn(rec.db_block_changes_delta) },             :title=>"DB Block Changes", :align=>:right},
    {:caption=>"Ph.Rd.nd.",     :data=>proc{|rec| fn(rec.physical_reads_delta-rec.physical_reads_direct_delta) },           :title=>"Physical Reads Non-Direct", :align=>:right},
    {:caption=>"Ph.Wr.",        :data=>proc{|rec| fn(rec.physical_writes_delta) },              :title=>"Physical Writes", :align=>:right},
    {:caption=>"Ph.Rd.dir.",    :data=>proc{|rec| fn(rec.physical_reads_direct_delta) },        :title=>"Physical Reads Direct", :align=>:right},
    {:caption=>"Ph.Wr.dir.",    :data=>proc{|rec| fn(rec.physical_writes_direct_delta) },       :title=>"Physical Writes Direct", :align=>:right},
    {:caption=>"ITL",           :data=>proc{|rec| fn(rec.itl_waits_delta) },                    :title=>"ITL Waits", :align=>:right},
    {:caption=>"RL",            :data=>proc{|rec| fn(rec.row_lock_waits_delta) },               :title=>"Row Lock Waits", :align=>:right},
    {:caption=>"GC BBW",        :data=>proc{|rec| fn(rec.gc_buffer_busy_delta) },               :title=>"GC Buffer Busy waits", :align=>:right},
    {:caption=>"CR BR",         :data=>proc{|rec| fn(rec.gc_cr_blocks_received_delta) },        :title=>"GC CR Blocks Received", :align=>:right},
    {:caption=>"CU BR",         :data=>proc{|rec| fn(rec.gc_cu_blocks_received_delta) },        :title=>"GC CU Blocks Received", :align=>:right},
    {:caption=>"Sp.Us.",        :data=>proc{|rec| fn(rec.space_used_delta) },                   :title=>"Space Used", :align=>:right},
    {:caption=>"Sp.Al.",        :data=>proc{|rec| fn(rec.space_allocated_delta) },              :title=>"Space Allocated", :align=>:right},
    {:caption=>"Tbl.Sc.",       :data=>proc{|rec| fn(rec.table_scans_delta) },                  :title=>"Table scans", :align=>:right},
   ]

%>
<%= gen_slickgrid(@objects, column_options, {
    :caption => "Objekts of single AWR-Snapshot for instance #{@instance} beginning at  #{@begin_interval_time}",
    :max_height => 450
})
%>

<div id="<%= @update_area %>"></div>
