<%
  def link_column(h, value, order_by)
    my_ajax_link_to(value,
                  url_for(:action => :list_gc_request_latency_history_detail,
                          :update_area => :list_gc_request_latency_history_detail_area,
                          :instance       => h.instance_number,
                          :min_snap_id    => h.min_snap_id,
                          :max_snap_id    => h.max_snap_id,
                          :begin_interval_time => h.begin_interval_time ? localeDateTime(h.begin_interval_time) : @time_selection_start,
                          :order_by       => order_by
                          ),
                   :title => t(:dba_waits_show_gc_request_latency_link_hint, :default=>'Show single objects ordered by transferred blocks')
                   )
  end

  def link_column_cr(h, value)
    link_column(h, value, "GC_CR_Blocks_Received_Delta")
  end

  def link_column_current(h, value)
    link_column(h, value, "GC_CU_Blocks_Received_Delta")
  end

column_options =
  [
    {:caption=>"I",                     :data=>proc{|rec| rec.instance_number},                             :title=>"RAC-Instance"},
    {:caption=>"CR Receive Time",       :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.gc_cr_block_receive_time/100)) },  :align=>:right,  :title=>"Global cache consistent read blocks receive_time (Seconds)"},
    {:caption=>"CR Blocks Received",    :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.gc_cr_blocks_received)) },         :align=>:right,  :title=>"Global cache consistent read blocks received"},
    {:caption=>"Avg. CR Receive Time",  :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.avg_cr_receive_time_ms,2)) },      :align=>:right,  :title=>"Global cache consistent read average receive time (Milliseconds)"},
    {:caption=>"Current Receive Time",       :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.gc_current_block_receive_time/100)) },  :align=>:right,  :title=>"Global cache current blocks receive_time (Seconds)"},
    {:caption=>"Current Blocks Received",    :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.gc_current_blocks_received)) },         :align=>:right,  :title=>"Global cache current blocks received"},
    {:caption=>"Avg. Current Receive Time",  :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.avg_current_receive_time_ms,2)) },      :align=>:right,  :title=>"Global cache current average receive time (Milliseconds)"},
  ]

  caption = "Global cache request latency: Sums from #{@time_selection_start} until #{@time_selection_end} #{" for instance=#{@instance}" if @instance}"
%>

<%= gen_slickgrid(@history_sum, column_options, {:width=>:auto, :caption=>caption}) %>

<%
column_options =
  [
    {:caption=>"I",                     :data=>proc{|rec| rec.instance_number},                             :title=>"RAC-Instance"},
    {:caption=>"Timestamp",             :data=>proc{|rec| localeDateTime(rec.begin_interval_time)},          :title=>"Begin of considered interval", :plot_master_time=>true },
    {:caption=>"CR Receive Time",       :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.gc_cr_block_receive_time/100)) },  :align=>:right,  :title=>"Global cache consistent read blocks receive_time (Seconds)"},
    {:caption=>"CR Blocks Received",    :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.gc_cr_blocks_received)) },         :align=>:right,  :title=>"Global cache consistent read blocks received"},
    {:caption=>"Avg. CR Receive Time",  :data=>proc{|rec| link_column_cr(rec, formattedNumber(rec.avg_cr_receive_time_ms,2)) },      :align=>:right,  :title=>"Global cache consistent read average receive time (Milliseconds)"},
    {:caption=>"Current Receive Time",       :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.gc_current_block_receive_time/100)) },  :align=>:right,  :title=>"Global cache current blocks receive_time (Seconds)"},
    {:caption=>"Current Blocks Received",    :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.gc_current_blocks_received)) },         :align=>:right,  :title=>"Global cache current blocks received"},
    {:caption=>"Avg. Current Receive Time",  :data=>proc{|rec| link_column_current(rec, formattedNumber(rec.avg_current_receive_time_ms,2)) },      :align=>:right,  :title=>"Global cache current average receive time (Milliseconds)"},
  ]

  caption = "Global cache request latency: Single values from #{@time_selection_start} until #{@time_selection_end} #{" for instance=#{@instance}" if @instance}"
%>

<%=
  gen_slickgrid(@history_detail, column_options, { :plot_area_id => "list_gc_request_latency_history_plot_area",
                                                    :div_style => "float:left; width:100%; max-height:450px; overflow:scroll;",
                                                    :width     => :auto,
                                                    :caption   => caption,
                                                    :max_height=>450
                                            },
                )
%>


<div style="clear: both; width: 100%" id="list_gc_request_latency_history_plot_area"></div>
<div id="list_gc_request_latency_history_detail_area" style="clear:both;"></div>

