<%

   def link_column(s, value)
     my_ajax_link_to(value,
                   url_for(:action => "list_sql_detail_historic",
                           :dbid        => s.dbid,
                           :sql_id      => s.sql_id,
                           :parsing_schema_name =>s.parsing_schema_name,
                           :instance    => s.instance_number,
                           :min_snap_id => s.min_snap_id,
                           :max_snap_id => s.max_snap_id,
                           :time_selection_start => @time_selection_start,
                           :time_selection_end   => @time_selection_end,
                           :update_area => 'list_segment_stat_hist_detail_sql_area'
                          ),
                    :title=>"Anzeige der Details des Statements (unterhalb)")
   end

column_options =
  [
    {:caption=>"I",             :data=>proc{|rec| link_column(rec, rec.instance_number) },          :title=>"RAC-Instance"},
    {:caption=>"SQL",           :data=>proc{|rec| link_column(rec, rec.sql_text) },                 :title=>"SQL-Text"},
    {:caption=>"User",          :data=>proc{|rec| link_column(rec, rec.parsing_schema_name) },      :title=>"Parsing Schema Name"},
    {:caption=>"Execs",         :data=>proc{|rec| link_column(rec, fn(rec.executions)) },           :title=>"Anzahl Executions", :align=>:right},
    {:caption=>"Elapsed",       :data=>proc{|rec| link_column(rec, fn(rec.elapsed_time_secs, 3)) }, :title=>"Elapsed Time in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"Ela./Ex.",      :data=>proc{|rec| link_column(rec, fn(rec.elapsed_time_secs_per_execute, 3)) },       :title=>"Elapsed Time je Execute in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"CPU",           :data=>proc{|rec| link_column(rec, fn(rec.cpu_time_secs, 3)) },     :title=>"CPU-Time in Sekunden über alle parallel query server", :align=>:right},
    {:caption=>"Disk Reads",    :data=>proc{|rec| link_column(rec, fn(rec.disk_reads)) },           :title=>"Disk Reads", :align=>:right},
    {:caption=>"Buffer Gets",   :data=>proc{|rec| link_column(rec, fn(rec.buffer_gets)) },          :title=>"Buffer Gets", :align=>:right},
    {:caption=>"Rows",          :data=>proc{|rec| link_column(rec, fn(rec.rows_processed)) },       :title=>"Rows Processed", :align=>:right},
 ]

%>
<%= gen_slickgrid(@sqls, column_options, {
    :caption => "Statements aus DBA_Hist_SQLPlan mit '#{@object_name}', Inst_ID=#{@instance}, Von #{@time_selection_start} bis #{@time_selection_end}",
    :max_height=>450
})
%>

<div id="list_segment_stat_hist_detail_sql_area" style="float:left; width:100%; ">
</div>

