<%= my_ajax_form_tag "dba_history/list_enqueue_statistics_historic" do %>
  <div class="float_left">
    <b>Enqueue-Statistics aus DBA_Hist_Enqueue_Stat</b>
  </div>

  <%= include_start_end_timepicker %>

  <div class="float_left">
    Instance
    <%= text_field_tag(:instance, "", :size=>1, :title=>"Einschränkung auf RAC-Instance (optional)") %>
  </div>
  <div class="float_left">
    <%= submit_tag("Enqueue-Info anzeigen", :title => "Anlistung der Enqueue-Info") %>
  </div>
<% end %>
<div id="list_enqueue_statistics_historic_area" style="float:left; width:100%; ">
</div>

