<%
@update_area = get_unique_area_id


def link_text(rec, value)
  my_ajax_link_to(value,
                  url_for(:action          => :list_mview_query_text,
                          :owner           => rec.owner,
                          :name            => rec.mview_name,
                          :update_area     => @update_area
                         ),
                  :title=>"Show query text of materialized view")
end

def link_real_num_rows(rec)
  update_area = "list_materialized_view_logs_#{(rec.owner+rec.mview_name).hash}"
  my_ajax_link_to(rec.num_rows ? fn(rec.num_rows) : "[No analyze]",
                  url_for(:action          => :list_real_num_rows,
                          :owner           => rec.owner,
                          :name            => rec.mview_name,
                          :update_area     => update_area
                         ),
                  :title=>"Show current number of rows in MV. CAUTION: May be long running!")+"<br><div id=\"#{update_area}\"></div>".html_safe
end

def link_snapshot_logs(rec)
  my_ajax_link_to(rec.snapshot_logs,
                  url_for(:action          => :list_snapshot_logs,
                          :snapshot_id     => rec.mview_id,
                          :update_area     => @update_area
                         ),
                  :title=>"Show query text of materialized view")
end

def link_registered_mv(rec)
  if rec.registered == 'N'
    rec.registered
  else
      my_ajax_link_to(rec.registered,
                      url_for(:action          => :list_registered_materialized_views,
                              :snapshot_id     => rec.mview_id,
                              :update_area     => @update_area
                      ),
                      :title=>"Show details of registered materialized view")
  end
end

column_options =
  [
    {:caption=>"Owner",                 :data=>proc{|rec| rec.owner.downcase},      :title=>"Owner and name of materialized view"},
    {:caption=>"Name", :data=>proc{|rec| link_object_description(@update_area, rec.owner, rec.mview_name, rec.mview_name) }, :title=>"Owner and name of materialized view", :data_title=>proc{|rec| "%t: Physical table name = #{rec.table_name}"}},
    {:caption=>"Num rows",              :data=>proc{|rec| link_real_num_rows(rec)}, :title=>"Number of rows of this MView-log recorded at last analyze (for local MViews only)", :align=>:right},
    {:caption=>"Size (MB)",             :data=>proc{|rec| fn(rec.mbytes, 1)},       :title=>"Real current physical size of materialized view in MBytes", :align=>:right},
    {:caption=>"Master owner",          :data=>proc{|rec| rec.master_owner},        :title=>"Owner of the master table of MView"},
    {:caption=>"Master table",          :data=>proc{|rec| rec.master},              :title=>"Name of the master table of MView", :data_title=>proc{|rec| "%t: View used for refresh=#{rec.master_view}"}},
    {:caption=>"Master link",           :data=>proc{|rec| rec.master_link},         :title=>"Database link for the master site or the master materialized view site"},
    {:caption=>"Refresh mode",          :data=>proc{|rec| rec.refresh_mode},        :title=>"Refresh mode of the materialized view"},
    {:caption=>"Refresh method",        :data=>proc{|rec| rec.refresh_method},      :title=>"Default method used to refresh the materialized view. COMPLETE (C) - completely refreshed from the masters, FORCE (?) - fast refresh if possible, otherwise a complete refresh, FAST (F) - incremental refresh since the last refresh, NEVER (N) - should not refresh this materialized view"},
    {:caption=>"Build mode",            :data=>proc{|rec| rec.build_mode},          :title=>"Indicates how the materialized view was populated during creation"},
    {:caption=>"Fast refreshable",      :data=>proc{|rec| rec.fast_refreshable},    :title=>"Indicates whether the materialized view is eligible for incremental (fast) refresh. The Oracle Database calculates this value statically, based on the materialized view definition query: NO - Materialized view is not fast refreshable, and hence is complex, DIRLOAD - Fast refresh is supported only for direct loads, DML - Fast refresh is supported only for DML operations, DIRLOAD_DML - Fast refresh is supported for both direct loads and DML operations, DIRLOAD_LIMITEDDML - Fast refresh is supported for direct loads and a subset of DML operations"},
    {:caption=>"Fast refresh method",   :data=>proc{|rec| rec.fast_refresh_method}, :title=>"The values used to drive a fast refresh of the snapshot"},
    {:caption=>"Refresh group",         :data=>proc{|rec| rec.refresh_group},       :title=>"All snapshots in a given refresh group get refreshed in the same transaction"},
    {:caption=>"Last refresh type",     :data=>proc{|rec| rec.last_refresh_type},   :title=>"Method used for the most recent refresh: COMPLETE - Most recent refresh was complete, FAST - Most recent refresh was fast (incremental), NA - Materialized view has not yet been refreshed (for example, if it was created DEFERRED)"},
    {:caption=>"Last refresh date",     :data=>proc{|rec| localeDateTime rec.last_refresh_date}, :title=>"Date on which the materialized view was most recently refreshed. Blank if not yet populated."},
    {:caption=>"R.",                    :data=>proc{|rec| link_registered_mv(rec) },:title=>"Is materialized view registered in DBA_Registered_MViews"},
    {:caption=>"Logs",                  :data=>proc{|rec| link_snapshot_logs(rec)}, :title=>"Number of registered snapshot logs for this materialized view, if master site is this database"},
    {:caption=>"Oldest refresh date",   :data=>proc{|rec| localeDateTime rec.oldest_refresh_date},            :title=>"Last refresh date of snapshot for this MV"},
    {:caption=>"Fast refresh oper.",    :data=>proc{|rec| rec.fr_operations},       :title=>"If REGENERATE, then the fast refresh operations have not been generated"},
    {:caption=>"Complete refresh oper.",:data=>proc{|rec| rec.cr_operations},       :title=>"If REGENERATE, then the complete refresh operations have not been generated"},
    {:caption=>"Staleness",             :data=>proc{|rec| rec.staleness},           :title=>"Relationship between the contents of the materialized view and the contents of the materialized view's masters: FRESH - Materialized view is a read-consistent view of the current state of its masters, STALE - Materialized view is out of date because one or more of its masters has changed. If the materialized view was FRESH before it became STALE, then it is a read-consistent view of a former state of its masters, UNUSABLE - Materialized view is not a read-consistent view of its masters from any point in time, UNKNOWN - Oracle Database does not know whether the materialized view is in a read-consistent view of its masters from any point in time (this is the case for materialized views created on prebuilt tables), UNDEFINED - Materialized view has remote masters. The concept of staleness is not defined for such materialized views."},
    {:caption=>"Staleness after fast refresh", :data=>proc{|rec| rec.after_fast_refresh},          :title=>"Specifies the staleness value that will occur if a fast refresh is applied to this materialized view. Its values are the same as for the STALENESS column, plus the value NA, which is used when fast refresh is not applicable to this materialized view."},
    {:caption=>"U.",                    :data=>proc{|rec| rec.updatable},           :title=>"Indicates whether the materialized view is updatable (Y) or not (N)", :data_title=>proc{|rec| "%t: Update log=#{rec.update_log}"}},
    {:caption=>"P.",                    :data=>proc{|rec| rec.unknown_prebuilt},    :title=>"Indicates whether the materialized view is prebuilt (Y) or not (N)"},
    {:caption=>"PL",                    :data=>proc{|rec| rec.unknown_plsql_func},  :title=>"Indicates whether the materialized view contains PL/SQL functions (Y) or not (N)"},
    {:caption=>"Ex.",                   :data=>proc{|rec| rec.unknown_external_table},  :title=>"Indicates whether the materialized view contains external tables (Y) or not (N)"},
    {:caption=>"F.",                    :data=>proc{|rec| rec.unknown_consider_fresh},  :title=>"Indicates whether the materialized view is considered fresh (Y) or not (N)"},
    {:caption=>"I.",                    :data=>proc{|rec| rec.unknown_import},      :title=>"Indicates whether the materialized view is imported (Y) or not (N)"},
    {:caption=>"T.",                    :data=>proc{|rec| rec.unknown_trusted_fd},  :title=>"Indicates whether the materialized view uses trusted constraints for refresh (Y) or not (N)"},
    {:caption=>"Rw.",                   :data=>proc{|rec| rec.rewrite_enabled},     :title=>"Indicates whether rewrite is enabled (Y) or not (N)", :data_title=>proc{|rec| "%t, rewrite rule=#{rec.rewrite_capability}"}},
    {:caption=>"E.",                    :data=>proc{|rec| rec.error},               :title=>"The number of failed automatic refreshes since last successful refresh"},
    {:caption=>"Comp. status",          :data=>proc{|rec| rec.compile_state},       :title=>"Validity of the materialized view with respect to the objects upon which it depends: VALID - Materialized view has been validated without error, and no object upon which it depends has changed since the last validation: NEEDS_COMPILE - Some object upon which the materialized view depends has changed. An ALTER MATERIALIZED VIEW...COMPILE statement is required to validate this materialized view, ERROR - Materialized view has been validated with one or more errors"},
    {:caption=>"Cont. status",          :data=>proc{|rec| rec.content_status},      :title=>"The status of the contents of the snapshot"},
    {:caption=>"No ind.",               :data=>proc{|rec| rec.use_no_index},        :title=>"Indicates whether the materialized view was created using the USING NO INDEX clause (Y) or the materialized view was created with the default index (N). The USING NO INDEX clause suppresses the creation of the default index."},
    {:caption=>"Stale since",           :data=>proc{|rec| localeDateTime rec.stale_since}, :title=>"Time from when the materialized view became stale"},
    {:caption=>"Last analyze",          :data=>proc{|rec| localeDateTime rec.last_analyzed},                  :title=>"Last analyze date for underlying table of this MView"},


  ]

%>

<%= gen_slickgrid(@mvs, column_options, {
        :max_height => 450,
        :caption => "Data from DBA_MViews (without remote MViews via DB-link)"

}) %>

<div id="<%= @update_area %>" style="clear: both;">
</div>
