<%
   @update_area = get_unique_area_id


   column_options =
           [
                   {:caption=>"Owner",                 :data=>proc{|rec| rec.owner},                        :title=>"Owner of UNDO tablespace"},
                   {:caption=>"Tablespace",            :data=>proc{|rec| rec.tablespace_name},              :title=>"Name of UNDO tablespace"},
                   {:caption=>"I",                     :data=>proc{|rec| rec.inst_id},                      :title=>'RAC-instance if tablespace is defined as "undo_tablespace" for this instance', :align=>:right},
                   {:caption=>"Size total (MB)",       :data=>proc{|rec| fn(rec.size_mb,2)},                :title=>"Total size of UNDO segment in tablespace",     :align=>:right},
                   {:caption=>"Size active (MB)",      :data=>proc{|rec| fn(rec.size_mb_active,2)},         :title=>"Size of active extents in UNDO segment",       :align=>:right},
                   {:caption=>"Size unexpired (MB)",   :data=>proc{|rec| fn(rec.size_mb_unexpired,2)},      :title=>"Size of unexpired extents in UNDO segment",    :align=>:right},
                   {:caption=>"Size expired (MB)",     :data=>proc{|rec| fn(rec.size_mb_expired,2)},        :title=>"Size of expired extents in UNDO segment",      :align=>:right},
           ]

%>

<%= gen_slickgrid(@undo_tablespaces, column_options, {
        :caption => 'Current UNDO tablespaces'

}) %>


<%
   def link_tx(rec)
     my_ajax_link_to(fn(rec.transactions),
                     url_for(:action          => :list_undo_transactions,
                             :segment_id      => rec.segment_id,
                             :update_area     => @update_area
                     ),
                     :title=>"Show transactions for undo segment")
   end


   column_options =
           [
                   {:caption=>"Owner",                 :data=>proc{|rec| rec.owner},                        :title=>"Owner of UNDO tablespace"},
                   {:caption=>"Segment ID",            :data=>proc{|rec| rec.segment_id},                   :title=>"UNDO segment ID"},
                   {:caption=>"Segment name",          :data=>proc{|rec| rec.segment_name},                 :title=>"Name of UNDO segment"},
                   {:caption=>"Tablespace",            :data=>proc{|rec| rec.tablespace_name},              :title=>"Name of UNDO tablespace"},
                   {:caption=>"I",                     :data=>proc{|rec| rec.inst_id},                      :title=>'RAC-instance if tablespace is defined as "undo_tablespace" for this instance', :align=>:right},
                   {:caption=>"Transactions",          :data=>proc{|rec| link_tx(rec)},                     :title=>"Number of current active transactions in undo segment",     :align=>:right},
                   {:caption=>"Size total (MB)",       :data=>proc{|rec| fn(rec.size_mb,2)},                :title=>"Total size of UNDO segment in tablespace",     :align=>:right},
                   {:caption=>"Size active (MB)",      :data=>proc{|rec| fn(rec.size_mb_active,2)},         :title=>"Size of active extents in UNDO segment",       :align=>:right},
                   {:caption=>"Size unexpired (MB)",   :data=>proc{|rec| fn(rec.size_mb_unexpired,2)},      :title=>"Size of unexpired extents in UNDO segment",    :align=>:right},
                   {:caption=>"Size expired (MB)",     :data=>proc{|rec| fn(rec.size_mb_expired,2)},        :title=>"Size of expired extents in UNDO segment",      :align=>:right},
           ]

%>

<%= gen_slickgrid(@undo_segments, column_options, {
        :max_height => 450,
        :caption => 'Current UNDO segments'

}) %>

<div id="<%= @update_area %>" style="clear: both; width:100%;">
</div>

